<div class="p-comment__formBox">
  <p class="p-comment__formTitle">コメントする</p>
  <%= form_with model: comment, data: { remote: false } do |f| %>
    <%= f.hidden_field :report_id %>
      <div class="form-group">
        <%= f.text_area :comment, class: 'form-control js-text', rows: 4, placeholder: "　最大500文字" %>
        <p class="js-text-count text-right mt-2"></p>
      </div>
    <div class="text-right">
      <%= f.submit '送信', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>