<div class="container">
  <h3 class="d-sm d-md-none mt-4 mb-5 text-center">エリアから探す</h3>
  <h3 class="d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5">エリアから探す</h3>

  <div class="container all_factors">
    <div class="row tab-content">
      <div class="col-md-8 offset-md-2 pl-0">
        <ul class="nav nav-tabs mb-3">
          <li class="nav-item">
            <a href="#area_prefecture" class="nav-link active" data-toggle="tab" style="font-size: 16px">都道府県から探す</a>
          </il>
          <li class="nav-item">
            <a href="#area_city" class="nav-link" data-toggle="tab" style="font-size: 16px">市区町村から探す</a>
          </il>
        </ul>
      </div>
      <div class="col-md-8 offset-md-2 main-column tab-pane active" id="area_prefecture">
        <div>
          <%= select_tag :area_prefecture,
                          options_from_collection_for_select(Prefecture.all, :id, :name),
                          {
                            prompt: "都道府県を選択する",
                            class: "form-control",
                            onchange: "location = 'area/prefecture/' + this.value"
                          }
          %>
        </div>
      </div>
      <div class="col-md-8 offset-md-2 main-column tab-pane" id="area_city">
        <div>
          <%= select_tag :select_prefecture,
                          options_from_collection_for_select(Prefecture.all, :id, :name),
                          {
                            prompt: "都道府県を選択する",
                            class: "form-control"
                          }
          %>
        </div><br>

        <div>
          <%= select_tag :city, options_for_select([["市区町村を選択する", 99]],), { class: "form-control", onchange: "location = 'area/city/' + this.value" } %></div><br>
        </div>

        <script>
          $(function() {
            $('#select_prefecture').change(function() {
              $.ajax('/cities_select',
                {
                  type: 'get',
                  data: { prefecture_id: $(this).val() },
                }
              )
              .done(function(data) {
                $('#city').html(data) 
              })
              .fail(function() {
                window.alert('正しい結果を得られませんでした。');
              });
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>