<div class="container">
  <h3 class="d-sm d-md-none mt-4 mb-5 text-center">タグから探す</h3>
  <h3 class="d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5">タグから探す</h3>
  
  <div class="container all_tags">
    <div class="row">
      <div class="col-md-8 offset-md-2 main-column">
        <% @tags.each do |tag| %>
          <span class="btn btn-info border border-primary mr-2 mb-3"><%= link_to tag.tag_name, "/category/tags/#{tag.tag_name}" %></span>
        <% end %>
      </div>
    <div>
  </div>
</div>

<%= paginate @tags_page %>