<%= render 'reports/category_header' %>
<div class="container pb-5 mb-5">
  <h5 class="d-sm d-md-none mt-4 mb-5 text-center">治療当時の&nbsp;<strong>働き方</strong>&nbsp;からレポコを探す</h5>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5">治療当時の&nbsp;<strong>働き方</strong>&nbsp;からレポコを探す</h4>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", category_search_path %>
  </small>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", category_search_path %>
  </small>

  <div class="row pb-5 mb-5">
    <div class="col-md-8 offset-md-2 main-column">
      <%= select "report", :work_style, @works.invert, { prompt: "働き方から探す" }, { class: "form-control my-5", onchange: "location = 'work/' + this.value + 'work_style'" } %>
    </div>
  </div>
</div>