h1 {
  margin: 50px 0;
}

.container {
  width: 1140px;
}

// 全体の背景色
.base {
  padding-top: 60px;
  background-color: rgb(245, 245, 245);
}

.form-group {
  margin-top: 50px; 
}

.submit-btn {
  margin-top: 40px;
}

// ナビ
.navbar {
  height: 60px;
}

.navbar-btn {
  margin: 0px 5px;
}

// ナビの背景色
.navbar-light {
  background-color: #55E6C1;
}

.tag-box {
  margin-bottom: 10px;
  display: inline-block;
}

.signupin {
  margin: 0 30px;
}

.signupin-left {
  display: flex;
	align-items: center;
	justify-content: right;
}

.signupin-right {
  display: flex;
	align-items: center;
	justify-content: right;
}

.sns-signupin-area {
  width: 300px;
}

.sns-signupin-button {
  margin: 15px;
}
