h1 {
  margin: 50px 0;
}

.container {
  width: 1140px;
}

// 全体の背景色
.base {
  padding-top: 60px;
  background-color: rgb(245, 245, 245);
  background-color: #FFFFFF;
}

.form-group {
  margin-top: 50px; 
}

.submit-btn {
  margin-top: 40px;
}

// ナビ
.navbar {
  height: 60px;
}

.navbar-btn {
  margin: 0px 5px;
}

// ナビの背景色
.navbar-light {
  background-color: #FFF;
}

.tag-box {
  margin-bottom: 10px;
  display: inline-block;
}

// サインアップ/ログイン画面
.signupin {
  margin: 0 30px;
}

.signupin-left {
  display: flex;
	align-items: center;
	justify-content: right;
}

.signupin-right {
  display: flex;
	align-items: center;
	justify-content: right;
}

.sns-signupin-area {
  width: 300px;
}

.sns-signupin-button {
  margin: 15px;
}

// top戻るボタン
h2{
  text-align: center;
  margin-bottom: 30px;
}
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 50px;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

// ナビバー
.fullscreen .modal-dialog {
  margin: 0 0 0 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;;
}
 
.fullscreen .modal-content {
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  background: rgba(36, 36, 36, 0.90);
  opacity: 0.9;
  overflow:auto;
}
 
.fullscreen .modal-content .modal-header{
  border: 0px;
}
 
.fullscreen .modal-content button{
  opacity: 1;
}
 
.fullscreen .modal-content button span{
  color: #fff;
  font-weight: 1;
  font-size: 26px;
  text-shadow: none;
}
 
.fullscreen .modal-body .modal-logo img {
  width: 158px;
  padding-bottom: 84px;
}
 
.fullscreen .modal-body ul {
  padding: 0 0 0 0;
}
.fullscreen .modal-body li {
  padding-bottom: 43px;
}
.fullscreen .modal-body a {
  color: #fff;
  font-size: 16px;
}
 
.fullscreen .modal-body .social img {
  width: 56px;
  margin: 8px;
}
.modal-title{
  color: #fff;
}

.lead {
  color: #329d9f;
}

.main-index .text-color {
  color: #2c3939;
}

.main-index .text-color a {
  color: #2c3939;
}