// 文字
h1 h2 h3 h4 h5 h6 h7 p {
  font-family: 游ゴシック体,YuGothic,游ゴシック Medium,Yu Gothic Medium,游ゴシック,Yu Gothic,sans-serif;
}

// ナビバーの前面指定
.navbar {
  z-index: 30000;
}

.navbar > .navbar-container {
  padding: 0 8rem;
}

// モーダルの最前面指定
#menuModal {
  z-index: 20000;
}
#ageSelect {
  z-index: 20000;
}
#childSelect {
  z-index: 20000;
}
#amhSelect {
  z-index: 20000;
}
#sairanSelect {
  z-index: 20000;
}
#ishokuSelect {
  z-index: 20000;
}

.all-wrap {
  overflow: hidden;
}

.footer{
  width: 100%;
  background-color: rgb(250, 250, 250);
  // background-color: rgb(255,249,247);
  padding: 30px 0;
  bottom: 0; /*下に固定*/
  // margin-top: 10em;
}
// フッターのフィードバック
.feedback-area {
  padding-bottom: 2.3rem;
}

h1 {
  margin: 50px 0;
}

.container {
  width: 1140px;
}

// 全体
.base {
  padding-top: 60px;
  // background-color: rgb(250, 250, 250);
  background-color: #fff;
  // background-color: #FEFFDD;
  // background-color: #f0fffe;
  min-height: 100vh;
  position: relative;/*←相対位置*/
  // padding-bottom: 10em;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.m-bottom {
  margin-bottom: 5rem;
}

.bg-origin-blue {
  background: #92fdff;
}

.form-group {
  margin-top: 50px;
}

.submit-btn {
  margin-top: 40px;
}

// ナビ
.navbar {
  height: 60px;
}

.navbar-btn {
  margin: 0px 5px;
}

// ナビの背景色
.navbar-light {
  background-color: #FFF;
}

.tag-box {
  margin-bottom: 10px;
  display: inline-block;
}

// サインアップ/ログイン画面
.signupin {
  margin: 0 30px;
}

.signupin-left {
  display: flex;
	align-items: center;
	justify-content: right;
}

.signupin-right {
  display: flex;
	align-items: center;
	justify-content: right;
}

.sns-signupin-area {
  width: 300px;
}

.sns-signupin-button {
  margin: 15px;
}

// top戻るボタン
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 50px;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

// ナビバー
.fullscreen .modal-dialog {
  margin: 0 0 0 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
}

.fullscreen .modal-content {
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  background: rgba(172, 252, 245, 0.9);
  overflow:auto;
}

.fullscreen .modal-content .modal-header{
  border: 0px;
}

.fullscreen .modal-content button{
  opacity: 1;
}

.fullscreen .modal-content button span{
  color: #fff;
  font-weight: 1;
  font-size: 26px;
  text-shadow: none;
}

.fullscreen .modal-body .modal-logo img {
  width: 158px;
  padding-bottom: 84px;
}

.fullscreen .modal-body ul {
  padding: 0 0 0 0;
}
.fullscreen .modal-body li {
  padding-bottom: 43px;
}
.fullscreen .modal-body a {
  color: rgb(79, 79, 79);
  font-size: 20px;
  font-weight: bold;
}

.fullscreen .modal-body .social img {
  width: 56px;
  margin: 8px;
}
.modal-title{
  color: #fff;
}

.lead {
  color: #329d9f;
}

// card文字色
.main-index .text-color {
  color: #2c3939;
}

.main-index .text-color a {
  color: #2c3939;
}

// footerのフィードバックフォーム
.feedback-textarea {
  width: 100%;
  border-radius: 0.2em;
  padding: 0.5em;
  font-size: small;
}

// sidebarのフィードバックボタン
.feedback-sidebar {
  width: 100%;
}

// featherアイコンのスタイル
.feather-icon-style1 {
  width:15px;
  opacity: 0.6;
}
.feather-icon-style2 {
  width:18px;
  margin: 0 2px;
}
.feather-icon-style3 {
  width:25px;
  margin: 0 2px;
  color: rgb(94, 91, 91);
}
.feather-icon-style4 {
  width:25px;
  margin: 0 2px;
  color: #329D9F;
}
.feather-icon-style5 {
  width:100%;
  margin: 0 0;
  padding: 0;
  color: #329D9F;
}
.feather-icon-style6 {
  width:25px;
  margin: 0 2px;
  color: rgba(108, 108, 108, 0.7);
}
.feather-icon-style7 {
  width:100%;
  height: 100%;
  margin: 0 0;
  padding: 0;
  color: #329D9F;
}

// 右サイドバー追尾型
.sticky-area {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

// 利用規約の見出し
.terms-h h5 {
  border-bottom: solid thin;
  border-color: rgb(224,224,224);
}
.terms-h h6 {
  border-bottom: solid thin;
  border-color: rgb(224,224,224);
}
.terms-h h3 {
  text-align: center;
}

// フラッシュエリアのスタイル
.flash_area {
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 30000;
}
.flash_area .flash_bar {
    position: relative;
    width: 100%;
}

.modal-header h6 {
  line-height: 1.4;
}

// 画面下の投稿やSNSボタン・ナビゲーションバー
@media screen and (min-width:768px){
	.area_under_mobile_screen {
    display: none;
  }
  .under-nav-area {
    display: none;
  }
}
@media screen and (max-width:767px){
  // ストックやSNSの表示エリア(スマホ表示のみ、sns_barからの読み込み)
  .area_under_mobile_screen {
    position: fixed;
    bottom: 3.2rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 10000;
  }
  .area_under_mobile_screen .like-circle {
    position: relative;
    margin-left: 60%;
    width: 60px;
    height: 60px;
    background-color: rgba(255,255,255,1);
    border: solid;
    border-color: #EA3F60;
    border-radius: 50%;
  }
  .area_under_mobile_screen .unlike-circle {
    position: relative;
    margin-left: 60%;
    width: 60px;
    height: 60px;
    background-color: rgba(255,255,255,1);
    border: solid thin;
    border-color: #EA3F60;
    border-radius: 50%;
  }
  .like-circle .like-btn {
    position: absolute;
    top: 30%;
    left: 30%;
  }
  .unlike-circle .unlike-btn {
    position: absolute;
    top: 30%;
    left: 30%;
  }
  .area_under_mobile_screen .like-counter {
    display: none;
  }
  .area_under_mobile_screen .like-counter {
    display: none;
  }

  .area_under_mobile_screen .twitter-circle {
    position: relative;
    margin-left: 83%;
    width: 60px;
    height: 60px;
    background-color: rgba(255,255,255,1);
    // background-color: #1DA1F3;
    border: solid thin;
    border-color: #1DA1F3;
    border-radius: 50%;
  }
  .twitter-circle .twitter-btn {
    position: absolute;
    top: 25%;
    left: 26%;
  }

  .area_under_mobile_screen .newrepoco-circle {
    position: relative;
    margin-left: 83%;
    width: 60px;
    height: 60px;
    background-color: rgba(255,255,255,1);
    // border: solid thin;
    // border-color: #009688;
    border-radius: 50%;
    box-shadow: 0 1px 6px rgba(0,0,0,.4);
  }
  .newrepoco-circle .newrepoco-btn {
    position: absolute;
    top: 25%;
    left: 26%;
  }

  // PC時の表示(showからの読み込み)
  .action_area {
    display: none;
    visibility: hidden;
  }

  // 画面下部のナビアイコン(スマホ表示のみ)
  .under-nav-area {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 2.7rem;
    background-color: rgb(255, 255, 255);
    border-top: solid thin rgba(146,224,224,0.3);
    z-index: 50000;
  }
  .under-nav-area .under-navbar {
    position: relative;
    width: 100%;
  }
}

  .slide_bar {
    height: 3rem;;
    overflow-x: auto;
    white-space: nowrap;
  }

  .child-tab-content a {
    color: #151515;
  }

// ボタン
// 緑ボタン
  .green_btn {
    width:100%;
    font-size:13px;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:7px;
    margin: 0.3rem 0;
    color:#fff;
    // background-color:#2DB696;
    background-color:#2ECFC0;
    border: none;
    border-radius:5px;
}
  // アウトライン緑ボタン
.outline_green_btn {
  width:100%;
  font-size:13px;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:7px;
  margin: 0.3rem 0;
  // color:#2DB696;
  color:#2ECFC0;
  background-color: #ffffff;
  border: solid thin;
  // border-color: #2DB696;
  border-color: #2ECFC0;
  border-radius:5px;
}
// ブランドカラーボタン
.brand_btn {
  width:50%;
  font-size:13px;
  text-decoration:none;
  padding:7px;
  margin: 0.3rem 0;
  color:#bebebe;
  background-color:#ACFCF5;
  border: none;
  border-radius:5px;
}
// twitterカラーボタン
.tw_blue_btn {
  width:100%;
  font-size:13px;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:7px;
  margin: 0.3rem 0;
  color:#fff;
  background-color:#1DA1F2;
  border: none;
  border-radius:5px;
}

// サイドバー内のアイテム7b7b7b
.sidebar_promote_item {
  padding: 3%;
  background-color: #F7F9F9;
  border: none;
  border-radius: 5%;
}
.sidebar_promote_card {
  padding: 3%;
}
.sidebar_promote_card_header {
  padding: 2%;
}
.sidebar_promote_card_header_left {
}
.sidebar_promote_card_header_right {
  font-size: 0.8rem;
  color: #646262;
}
.sidebar_promote_card_body {
}

// 専門用語集のページ内リンク先のズレを補正
.terminology-content {
  padding-top: 100px;
}
.terminology-content-inner {
  padding-top: 100px;
  margin-top: -100px;
}


// aboutページのレイアウト
.color-area {
  background-color: #ACFCF5;
}

@media screen and (min-width:768px) {
  .about-first-area {
    min-height: 90vh;
  }
}

.max-screen {
  height: 700px;
}

// タブ1
.tab-wrap1 {
	background: White;
	// box-shadow: 0 0 5px rgba(0,0,0,.1);
  display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 0 0 20px;
}

.tab-label {
  color: Gray;
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}

.tab-label:hover {
	background: rgba(0, 191, 255,.1);
}

.tab-switch:checked + .tab-label {
	color: #2ECFC0;
}

.tab-label::after {
	background: #2ECFC0;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-switch:checked ~ .tab-label::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-content1 {
	height:0;
	opacity:0;
	padding: 0;
	pointer-events:none;
	transform: translateX(-30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
	width: 100%;
}

.tab-switch:checked ~ .tab-content1 {
	transform: translateX(30%);
}

.tab-switch:checked + .tab-label + .tab-content1 {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-wrap1::after {
	content: '';
	height: 0px;
	order: -1;
	width: 100%;
}

.tab-switch {
	display: none;
}

// タブ2
.tab-wrap2 {
	background: White;
	// box-shadow: 0 0 5px rgba(0,0,0,.1);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 0 0 20px;
}

.tab-label2 {
	color: Gray;
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}

.tab-label2:hover {
	background: rgba(0, 191, 255,.1);
}

.tab-switch2:checked + .tab-label2 {
	color: #2ECFC0;
}

.tab-label2::after {
	background: #2ECFC0;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-switch2:checked ~ .tab-label2::after {
	transform: translateX(-100%);
}

.tab-switch2:checked + .tab-label2::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-content2 {
	height:0;
	opacity:0;
	padding: 0;
	pointer-events:none;
	transform: translateX(-30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
	width: 100%;
}

.tab-switch2:checked ~ .tab-content2 {
	transform: translateX(30%);
}

.tab-switch2:checked + .tab-label2 + .tab-content2 {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-wrap2::after {
	content: '';
	height: 0px;
	order: -1;
	width: 100%;
}

.tab-switch2 {
	display: none;
}

// タブ3
.tab-wrap3 {
	background: White;
	// box-shadow: 0 0 5px rgba(0,0,0,.1);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 0 0 20px;
}

.tab-label3 {
	color: Gray;
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.tab-label3-2 {
	color: Gray;
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

// チェック後のラベルの背景色
.tab-label3:hover {
	background: rgba(0, 191, 255,.1);
}
.tab-label3-2:hover {
	// background: #EBF5FF;
	background: rgb(172,252,245);
}

.tab-switch3:checked + .tab-label3 {
	color: #2ECFC0;
}

.tab-switch3-2:checked + .tab-label3-2 {
  color: #2ECFC0;
}

.tab-label3::after {
	background: #2ECFC0;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-label3-2::after {
  // ↓チェック後のラベル下線の色
	background: #2ECFC0;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
  z-index: 1;
}

.tab-switch3:checked ~ .tab-label3::after {
	transform: translateX(-100%);
}

.tab-switch3:checked ~ .tab-label3-2::after {
	transform: translateX(-100%);
}

.tab-switch3:checked + .tab-label3::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-switch3:checked + .tab-label3-2::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-content3-1 {
	height:0;
	opacity:0;
	padding: 0;
	pointer-events:none;
	transform: translateX(-30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
	width: 100%;
}

.tab-content3-2 {
	height:0;
	opacity:0;
	padding: 0;
	pointer-events:none;
	transform: translateX(-30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
  width: 100%;
  // ↓コンテンツの背景
  // background: #EBF5FF;
	background: rgb(172,252,245);
}

.tab-switch3:checked ~ .tab-content3-1 {
	transform: translateX(30%);
}

.tab-switch3:checked ~ .tab-content3-2 {
	transform: translateX(30%);
}

.tab-switch3:checked + .tab-label3 + .tab-content3-1 {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-switch3:checked + .tab-label3-2 + .tab-content3-2 {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-wrap3::after {
	content: '';
	height: 0;
	order: -1;
	width: 100%;
}

.tab-switch3 {
	display: none;
}

// タブ4
.tab-wrap4 {
	background: White;
  display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 0 0 20px;
}

.tab-label4 {
  color: Gray;
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}

// .tab-label4:hover {
// 	background: rgba(0, 191, 255,.1);
// }

.tab-switch4:checked + .tab-label4 {
	color: #2ECFC0;
}

.tab-label4::after {
  background: #2ECFC0;
	bottom: 0;
	content: '';
	display: block;
	height: 2px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-label4-l {
  margin-left: 40px;
}

.tab-label4-r {
  margin-right: 40px;
}

.tab-switch4:checked ~ .tab-label4::after {
	transform: translateX(-100%);
}

.tab-switch4:checked + .tab-label4::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-content1 {
	height:0;
	opacity:0;
	padding: 0;
	pointer-events:none;
	transform: translateX(-30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
	width: 100%;
}

.tab-switch4:checked ~ .tab-content1 {
	transform: translateX(30%);
}

.tab-switch4:checked + .tab-label4 + .tab-content1 {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-wrap4::after {
	content: '';
	height: 0px;
	order: -1;
	width: 100%;
}

.tab-switch4 {
	display: none;
}

// グーグルマップ
.google-maps iframe {
  width: 100%;
  filter:saturate(150%);
  -webkit-filter:saturate(150%);
}

// バックグラウンドカラー
.bg-fem {
  background: rgb(255, 240, 236);
}
