@media screen and (max-width:767px) {
  .second-area .x-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 1rem;
    margin-bottom: 0;
  }
  .second-area .brand-color-box-rounded-area {
    width: 260px;
    display: inline-block;
    white-space: normal;
    margin-left: 0.7rem;
    margin-right: 1rem;
    vertical-align:top;
  }
  .second-area .brand-color-box-rounded {
    min-height: 150px;
    border-radius: 1rem;
    background: rgb(184,252,246);
  }
  .second-area .brand-color-box-rounded-head {
    height: 50px;
    padding: 2rem 2rem 0 2rem;
  }
  .second-area .brand-color-box-rounded-body {
    padding: 1rem 1rem 0 1rem;
  }
  .second-area .brand-color-box-rounded-inner {
    padding: 1rem 0;
  }
  .fourth-area .x-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 1rem;
    margin-bottom: 0;
  }
  .fourth-area .brand-color-box-rounded-area {
    width: 280px;
    display: inline-block;
    white-space: normal;
    margin-left: 0.7rem;
    margin-right: 1rem;
    vertical-align:top;
  }
  .fourth-area .brand-color-box-rounded {
    min-height: 350px;
    border-radius: 1rem;
    background: rgb(184,252,246);
  }
  .fourth-area .brand-color-box-rounded-head {
    height: 80px;
    padding: 1rem 2rem;
  }
  .fourth-area .brand-color-box-rounded-body {
    padding: 1rem;
  }
  .fifth-area {
    // background: rgb(184,252,246);
    background: rgba(184,252,246,0.7);
    padding: 4rem 1rem;
  }
  .about-link {
    border-radius: 1rem;
    height: 130px;
    background: #ffffff;
    padding: 1rem;
  }
  .about-link-head {
    padding-top: 0.5rem;
    height: 70%;
  }
  .about-link-body {
    height: 30%;
  }
  .sixth-area {
    padding: 1rem 2rem;
  }
  .join-repoco {
    min-height: 420px;
    border-radius: 1rem;
    background: rgba(184,252,246,0.7);
    padding: 2rem 1rem;
  }
  .seventh-area {
    padding: 2rem 1rem;
  }
  .learn-more {
    padding: 2rem 0 0 0;
    background: rgba(184,252,246,0.7);
  }
  .learn-more-head {

  }
  .learn-more-head-item {
    border-radius: 50%;
    background: #ffffff;
    padding: 0.3rem 1.2rem;
    margin: 0 0.7rem;
  }
  .learn-more-head-item-active {
    border-radius: 50%;
    background: #ffffff;
    border: 3px solid;
    border-color: #3EA8FF;
    padding: 0.3rem 1rem;
    margin: 0 0.7rem;
  }
  .learn-more-body {
    padding: 1rem 0 0 0;
  }
  .learn-more-body-inner {
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    background: #ffffff;
  }
  .learn-more-body-inner-content {
    padding: 1rem;
  }
  .learn-more-body-inner-content-head {
    padding-top: 0;
    text-align: center;
  }
  .learn-more-body-inner-content-body-item {
    padding: 1rem 0;
  }
  .q-title {
    padding: 1rem 0;
  }
  .q-answer  p {
    line-height: 1.8;
  }
}

@media screen and (min-width:768px) {
  .about-repoco {
    padding: 0 4rem;
  }
  .first-area {
    position: relative;
    height: 90vh;
  }
  .logo_mark_area {
    text-align: center;
    position: absolute;
    top: 18%;
  }
  .second-area .x-scroll {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .second-area .brand-color-box-rounded-area {
    padding: 0 2rem;
    // display: inline-block;
    display: table-cell;
    box-sizing: border-box;
    vertical-align:top;
  }
  .second-area .brand-color-box-rounded {
    min-height: 300px;
    border-radius: 1rem;
    background: rgb(184,252,246);
  }
  .second-area .brand-color-box-rounded-head {
    height: 80px;
    padding: 2rem 1rem 0 1rem;
  }
  .second-area .brand-color-box-rounded-body {
    padding: 0 3rem;
  }
  .fourth-area .x-scroll {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .fourth-area .brand-color-box-rounded-area {
    padding: 0 1rem;
    // display: inline-block;
    display: table-cell;
    box-sizing: border-box;
    vertical-align:top;
  }
  .fourth-area .brand-color-box-rounded {
    min-height: 330px;
    border-radius: 1rem;
    background: rgb(184,252,246);
  }
  .fourth-area .brand-color-box-rounded-head {
    height: 80px;
    padding: 1rem;
  }
  .fourth-area .brand-color-box-rounded-body {
    padding: 1rem;
  }
  .third-area {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .fifth-area {
    // background: rgb(184,252,246);
    padding: 4rem 1rem;
    border-radius: 1rem;
  }
  .about-link {
    border-radius: 1rem;
    height: 140px;
    // background: rgb(184,252,246);
    background:#EBF5FF;
    padding: 1rem;
  }
  .about-link-head {
    padding-top: 0.5rem;
    height: 70%;
  }
  .about-link-body {
    height: 30%;
  }
  .sixth-area {
    padding: 1rem 3rem;
  }
  .join-repoco {
    min-height: 300px;
    border-radius: 1rem;
    background: rgba(184,252,246,1);
    padding: 3rem 4rem;
  }
  .seventh-area {
    padding: 3rem 1rem;
  }
}

.btn-blue {
  padding: .6em 1.5em;
  white-space: nowrap;
  background: var(--c-primary);
  color: #fff;
  border-radius: .45em;
  box-shadow: 0 3px 6px -2px rgba(100,110,167,.2);
  border: 1px solid rgba(92,147,187,.15);
  background: #3EA8FF;
  max-width: 200px;
}
.question-brand-color {
  padding: .3rem .6rem;
  white-space: nowrap;
  color: #404040;
  border-radius: .45em;
  box-shadow: 0 3px 6px -2px rgba(100,110,167,.2);
  background: #ACFCF5;
  max-width: 20px;
  margin-right: 0.5rem;
}
// 今すぐ始めるボタンの動き
.about-repoco a {
  display: inline-block;
}
.about-repoco a:hover {
  -webkit-animation: zoom .3s;
  animation: zoom .3s;
  opacity: 0.7;
}
@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.05);
  }
}
@keyframes zoom {
  50% {
    transform: scale(1.05);
  }
}