@media screen and (max-width:767px) {
  .second-area .x-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 1rem;
    margin-bottom: 0;
  }
  .second-area .brand-color-box-rounded-area {
    width: 260px;
    display: inline-block;
    white-space: normal;
    margin-left: 0.7rem;
    margin-right: 1rem;
    vertical-align:top;
  }
  .second-area .brand-color-box-rounded {
    min-height: 150px;
    border-radius: 1rem;
    background: rgb(184,252,246);
  }
  .second-area .brand-color-box-rounded-head {
    height: 50px;
    padding: 2rem 2rem 0 2rem;
  }
  .second-area .brand-color-box-rounded-body {
    padding: 1rem 1rem 0 1rem;
  }
  .second-area .brand-color-box-rounded-inner {
    padding: 1rem 0;
  }
  .third-area {
    background:#B8FCF6;
    padding: 3rem 1rem;
  }
  .fourth-area .x-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 1rem;
    margin-bottom: 0;
  }
  .fourth-area .brand-color-box-rounded-area {
    width: 280px;
    display: inline-block;
    white-space: normal;
    margin-left: 0.7rem;
    margin-right: 1rem;
    vertical-align:top;
  }
  .fourth-area .brand-color-box-rounded {
    min-height: 350px;
    border-radius: 1rem;
    background: rgb(184,252,246);
  }
  .fourth-area .brand-color-box-rounded-head {
    height: 80px;
    padding: 1rem 2rem;
  }
  .fourth-area .brand-color-box-rounded-body {
    padding: 1rem;
  }
  .fifth-area {
    // background: rgb(184,252,246);
    background: rgba(184,252,246,0.7);
    padding: 4rem 1rem;
  }
  .about-link {
    border-radius: 1rem;
    height: 130px;
    background: #ffffff;
    padding: 1rem;
  }
  .about-link-head {
    padding-top: 0.5rem;
    height: 70%;
  }
  .about-link-body {
    height: 30%;
  }
  .sixth-area {
    padding: 1rem 2rem;
  }
  .join-repoco {
    min-height: 420px;
    border-radius: 1rem;
    background: rgba(184,252,246,0.7);
    padding: 2rem 1rem;
  }
  .seventh-area {
    padding: 2rem 1rem;
  }
  .learn-more {
    padding: 2rem 0 0 0;
    background: rgba(184,252,246,0.7);
  }
  .learn-more-menu {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
  }
  .learn-more-head {
    display: flex;
    // 横スクロールの右端余白はこのwidthで調整↓
    width: 680px; 
    padding: 0.1rem 0;
  }
  .learn-more-head-item {
    width: 75px;
    height: 75px;
    border-radius: 50%; 
    margin: 0 auto;
    background: #ffffff;
    padding: 0.3rem 1.2rem;
    // display: block;
  }
  .learn-more-head-item-active {
    width: 75px;
    height: 75px;
    border-radius: 50%; 
    margin: 0 auto;
    background: #ffffff;
    border: 3px solid;
    border-color: #3EA8FF;
    padding: 0.3rem 1rem;
  }
  .learn-more-body {
    padding: 1rem 0 0 0;
  }
  .learn-more-body-inner {
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    background: #ffffff;
  }
  .learn-more-body-inner-content {
    padding: 1rem 0;
  }
  .learn-more-body-inner-content-head {
    padding-top: 0;
    text-align: center;
  }
  .learn-more-body-inner-content-body {
    padding-top: 1rem;
  }
  .learn-more-body-inner-content-body-item {
    padding: 1rem 0;
  }
  .q-title {
    padding: 1rem 0;
  }
  .q-title h5 {
    line-height: 1.5;
    font-weight: bold;
  }
  .q-answer  p {
    line-height: 1.8;
    padding: 0 0.3rem;
  }
  .howto-area {
    display: flex;
    flex-direction: row;
    padding: 1rem 0.1rem;
  }
  .howto-sm-l {
    width: 60%;
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding: 0.5rem;
    background: rgba(184,252,246,0.7);
  }
  .howto-sm-l-2 {
    width: 60%;
    height: 100%;
    padding: 0.5rem;
    background: rgba(184,252,246,0.7);
  }
  .howto-sm-r {
    width: 40%;
    padding: 0 0 1rem 0.7rem;
  }
  .howto-sm-r p {
    font-size: 13px;
    line-height: 1.7;
  }
  .howto-pc-l {
    display:none;
  }
  .howto-pc-l-2 {
    display:none;
  }
  .howto-pc-r {
    display:none;
  }
}

@media screen and (min-width:768px) {
  .first-area {
    text-align: center;
    height: 90vh;
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo_mark_area {
    margin: 0 auto 5rem;
    top: 18%;
  }
  .logo_mark_area p {
    margin-top: 3rem;
    padding: 0 9rem;
  }
  .second-area {
    padding: 0 4rem;
  }
  .second-area .x-scroll {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .second-area .brand-color-box-rounded-area {
    padding: 0 2rem;
    // display: inline-block;
    display: table-cell;
    box-sizing: border-box;
    vertical-align:top;
  }
  .second-area .brand-color-box-rounded {
    min-height: 150px;
    border-radius: 1rem;
    background: rgb(184,252,246);
  }
  .second-area .brand-color-box-rounded-head {
    height: 80px;
    padding: 2rem 1rem 0 1rem;
  }
  .second-area .brand-color-box-rounded-body {
    padding: 0 3rem;
  }
  .third-area {
    // background:#B8FCF6;
    padding: 5rem 5rem;
    background: -moz-linear-gradient(to bottom,#999999,#B8FCF6 40%,#FFF); 
    background: -webkit-linear-gradient(to bottom,#999999,#B8FCF6 40%,#FFF); 
    background: linear-gradient(to bottom,#999999,#B8FCF6 40%,#FFF); 
  }
  .fourth-area {
    padding: 0 4rem;
  }
  .fourth-area .x-scroll {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .fourth-area .brand-color-box-rounded-area {
    padding: 0 1rem;
    // display: inline-block;
    display: table-cell;
    box-sizing: border-box;
    vertical-align:top;
  }
  .fourth-area .brand-color-box-rounded-height {
    min-height: 200px;
  }
  .fourth-area .brand-color-box-rounded-height .brand-color-box-rounded {
    height: 100%;
    border-radius: 1rem;
    background: rgb(184,252,246);
  }
  .fourth-area .brand-color-box-rounded-height .brand-color-box-rounded-head {
    height: 80px;
    padding: 1rem;
  }
  .fourth-area .brand-color-box-rounded-height .brand-color-box-rounded-body {
    margin: 1rem auto 0;
    position: relative;
    width: 80%;
  }
  .fifth-area {
    background:#B8FCF6;
    padding: 4rem;
  }
  .about-link {
    border-radius: 1rem;
    height: 140px;
    // background: rgb(184,252,246);
    background:#ffffff;
    padding: 1rem;
  }
  .about-link-head {
    padding-top: 0.5rem;
    height: 70%;
  }
  .about-link-body {
    height: 30%;
  }
  .sixth-area {
    padding: 1rem 7rem;
  }
  .join-repoco {
    min-height: 300px;
    border-radius: 1rem;
    background: rgba(184,252,246,1);
    padding: 3rem 4rem;
  }
  .seventh-area {
    padding: 3rem 4rem;
  }
  .learn-more-head {
    display: flex;
    padding: 0.2rem 0;
  }
  .learn-more-menu {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 1rem;
  }
  .learn-more-head-item {
    width: 85px;
    height: 85px;
    border-radius: 50%; 
    margin: 0 auto;
    background: #ffffff;
    padding: 0.3rem 1.2rem;
    // display: block;
  }
  .learn-more-head-item-active {
    width: 85px;
    height: 85px;
    border-radius: 50%; 
    margin: 0 auto;
    background: #ffffff;
    border: 3px solid;
    border-color: #3EA8FF;
    padding: 0.3rem 1rem;
  }
  .learn-more-body {
    padding: 1.5rem 0 5rem 0;
  }
  .learn-more-body-inner {
    padding: 1rem 3rem;
    border-radius: 2rem 2rem 2rem 2rem;
    background: #ffffff;
  }
  .learn-more-body-inner-content {
    padding: 1rem 0;
  }
  .learn-more-body-inner-content-head {
    padding-top: 0;
    text-align: center;
  }
  .learn-more-body-inner-content-body {
    padding-top: 2rem;
  }
  .learn-more-body-inner-content-body-item {
    padding: 1rem 0;
  }
  .q-title {
    padding: 1rem 0;
  }
  .q-title h5 {
    line-height: 1.5;
    font-weight: bold;
  }
  .q-answer  p {
    line-height: 1.8;
    padding: 0 0.3rem;
  }
  .howto-sm-l {
    display:none;
  }
  .howto-sm-l-2 {
    display:none;
  }
  .howto-sm-r {
    display:none;
  }
  .howto-area {
    display: flex;
    flex-direction: row;
    padding: 1rem 0.1rem;
  }
  .howto-pc-l {
    width: 70%;
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding: 0.5rem;
    background: rgba(184,252,246,0.7);
  }
  .howto-pc-l-2 {
    width: 70%;
    height: 100%;
    padding: 0.5rem;
    background: rgba(184,252,246,0.7);
  }
  .howto-pc-r {
    width: 30%;
    padding: 0 1rem 1rem;
  }
  .howto-pc-r p {
    font-size: 14px;
    line-height: 1.8;
  }
}

// 横の余白の設定
@media screen and (min-width:767px) {
  .learn-more {
    padding: 2rem 2rem 0;
    background: rgba(184,252,246,0.7);
  }
}
@media screen and (min-width:992px) {
  .learn-more {
    padding: 2rem 5rem 0;
    background: rgba(184,252,246,0.7);
  }
}
@media screen and (min-width:1200px) {
  .learn-more {
    padding: 2rem 15rem 0;
    background: rgba(184,252,246,0.7);
  }
}

.btn-blue {
  padding: .6em 1.5em;
  white-space: nowrap;
  background: var(--c-primary);
  color: #fff;
  border-radius: .45em;
  box-shadow: 0 3px 6px -2px rgba(100,110,167,.2);
  border: 1px solid rgba(92,147,187,.15);
  background: #3EA8FF;
  max-width: 200px;
}
.question-brand-color {
  padding: .3rem .6rem;
  white-space: nowrap;
  color: #404040;
  border-radius: .45em;
  box-shadow: 0 3px 6px -2px rgba(100,110,167,.2);
  background: #ACFCF5;
  max-width: 30px;
  max-height: 35px;
  margin-right: 0.5rem;
}
// 今すぐ始めるボタンの動き
.about-repoco a {
  display: inline-block;
}
.about-repoco a:hover {
  -webkit-animation: zoom .3s;
  animation: zoom .3s;
  opacity: 0.7;
}
.learn-more a {
  display: inline-block;
}
.learn-more a:hover {
  -webkit-animation: zoom .3s;
  animation: zoom .3s;
  opacity: 0.7;
}
@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.05);
  }
}
@keyframes zoom {
  50% {
    transform: scale(1.05);
  }
}