.mypage.row {
  margin-left: -10px; /* 「rowがデフォルトで持つネガティブmargin（-15px）」 - 「liに持たせたいpadding 」*/
  margin-right: -10px; /* 「rowがデフォルトで持つネガティブmargin（-15px）」 - 「liに持たせたいpadding 」*/
}
.mypage-content {
  padding: 0 5px; /* 隣り合うborder同士の余白 */
}

.mypage-sidemenu {
  padding: 0 5px; /* 隣り合うborder同士の余白 */
}

.mypage-menu-item {
  padding: 10px;
  border: solid #333333;
}