.reports_button {
  a {
      margin: 0 8px;
  }
}

.reports_table {
  tr:hover {
      cursor: pointer;
  }
}

// タグ
.inline-block_report-card-text {
  display: inline-block;
}

.reports__searchForm {
  display: inline-block;
}

.reports__select {
  display: inline-block;
  width: auto;
}

.form-area {
  background-color: white;
}

.form {
  margin-top: 20px;
}

.show {
  margin-top: 30px;
}

// アクションテキスト
.trix-content {  
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  background: rgb(232, 254, 252);
  min-height: 30em;
}

.trix-content h1 {  
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f5f5f5;
  font-size: 1.6em;
  line-height: 1.2;
  padding: 9em 2em;
  padding-top: 0.9em;
  padding-right: 0.2em;
  padding-bottom: 0.9em;
  padding-left: 0.2em;
}

// 記事の左右padding(md以上で切り替え)
.trix-content {
  padding: 3px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .trix-content {
    padding: 15px;
    margin-bottom: 20px;
  }
}

// 公開非公開ラジオボタン
.draft-published-btn {
  text-align: center;
  padding: 10px;
}

// 質問セクション間
.spacer {
  height: 30px;
}

// 質問の行間・文字間隔
.form-group .question-matters {
	line-height: 170%;
	letter-spacing: 0.05em
}

// 質問項目
#main-report .question-matters {
  background: linear-gradient(transparent 50%, #90F7EC 100%);
  color: #4d4c4c;
  font-weight: bold;
  font-size: 16px;
}

// promptの文字色
#main-report .form-control, .custom-file-control {
  // color: rgb(186, 186, 186);
  font-size: 14px;
}

// indexでのタイトル
.index-title {
  font-size: 20px;
}

// showのinfoのresultカラム
.result-column {
  background-color: #E8FEFC;
}

.result-column:hover {
  background-color: #ECECEC;
}

// SNSシェアバー
.sns-bar {
  height: 40px;
}

// .twitter-button {
//   background-color: #008DDE;
// }

.twitter-button a {
  color: #fff;
  font-size: 16px;
}

// .facebook-button {
//   background-color: #2e4a88;
// }

.facebook-button a {
  color: #fff;
  font-size: 16px;
}

// .line-button {
//   background-color: #35de00;
// }

.line-button a {
  color: #fff;
  font-size: 16px;
}

// .slack-button {
//   background-color: #f1e1ff;
// }

.slack-button a {
  color: #fff;
  font-size: 16px;
}

// .hatena-button {
//   background-color: #7DB4E8;
// }

.hatena-button a {
  color: #fff;
  font-size: 16px;
}

// .pocket-button {
//   background-color: #D3505A;
// }

.pocket-button a {
  color: #fff;
  font-size: 16px;
}

// snsボタン
.container .sns-side-button {
  position: fixed;
}

.main-column {
  margin-left: 80px; 
}

// md未満ではmain-columnの左マージンを消す
@media screen and (max-width: 768px) {
  .main-column{
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
  }
}

// formの質問事項の開閉
.grad-btn {
  /*.grad-btnのCSSは表示/非表示の動作には関係ないので、ご自由にどうぞ。*/
}
.grad-btn::before {
  content: "続きを読む"
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 80px; /*隠した状態の高さ*/
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked ~ .grad-btn::before {
  content: "閉じる" /*チェックされていたら、文言を変更する*/
}
.grad-trigger:checked ~ .grad-item {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}


// form画面のスプリットスクリーンのブレイクポイント(1000px以下は縦縦並び)
@media screen and (min-width: 1000px) {
.split-left-box {
	position:absolute;
	width: 40%;
	height: 85%;
}

.split-right-box {
	position:absolute;
	width:60%;
	height: 85%;
}
 
.left-box {
  left:0;
	overflow-y:scroll;
}
 
.right-box {
	right:0;
	overflow-y:scroll;
}
}


// 続きをよむ
.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_box {
	position: relative;
}
.cp_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 140px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.cp_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.cp_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: '\f13a'' 治療情報を見る';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.cp_box input {
	display: none;
}
.cp_box .cp_container {
	overflow: hidden;
	height: 300px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.cp_box input:checked + label {
	/* display: none ; 閉じるボタンを消す場合解放 */
}
.cp_box input:checked + label:after {
	font-family: FontAwesome;
	content: '\f139'' 閉じる';
}
.cp_box input:checked ~ .cp_container {
	height: auto;
	padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}

// 採卵ホルモン数値選択テーブルのカラム幅(day,e2...)
.day-column {
  width: 20%;
}

.hormone-column {
  width: 20%;
}

// 移植数値選択テーブルのカラム幅(day,e2...)
.et-bt-column {
  width: 20%;
}

.et-bt-hormone-column {
  width: 16%;
}


// 採卵ホルモン値追加アコーディオン
.hormone_box *, .hormone_box *:before, .hormone_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.hormone_box {
	position: relative;
}
.hormone_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 100px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.hormone_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.hormone_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: '\f13a'' 追加する';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.hormone_box input {
  // display: none;
  border: none;
  background: none;
  -webkit-appearance: none;
}

.hormone_box .hormone_container {
	overflow: hidden;
	height: 450px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.hormone_box input:checked + label {
	/* display: none ;閉じるボタンを消す場合解放 */
}
.hormone_box input:checked + label:after {
	font-family: FontAwesome;
	content: '\f139'' 閉じる';
}
.hormone_box input:checked ~ .hormone_container {
	height: auto;
	padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}


// 初期胚移植ホルモン値追加アコーディオン
.shokihai_box *, .shokihai_box *:before, .shokihai_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.shokihai_box {
	position: relative;
}
.shokihai_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 100px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.shokihai_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.shokihai_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: '\f13a'' 追加する';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.shokihai_box input {
  // display: none;
  border: none;
  background: none;
  -webkit-appearance: none;
}

.shokihai_box .shokihai_container {
	overflow: hidden;
	height: 450px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.shokihai_box input:checked + label {
	/* display: none ; 閉じるボタンを消す場合解放 */
}
.shokihai_box input:checked + label:after {
	font-family: FontAwesome;
	content: '\f139'' 閉じる';
}
.shokihai_box input:checked ~ .shokihai_container {
	height: auto;
	padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}


// 胚盤胞ホルモン値追加アコーディオン
.haibanho_box *, .haibanho_box *:before, .haibanho_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.haibanho_box {
	position: relative;
}
.haibanho_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 100px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.haibanho_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.haibanho_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: '\f13a'' 追加する';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.haibanho_box input {
  // display: none;
  border: none;
  background: none;
  -webkit-appearance: none;
}

.haibanho_box .haibanho_container {
	overflow: hidden;
	height: 450px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.haibanho_box input:checked + label {
	/* display: none ; 閉じるボタンを消す場合解放 */
}
.haibanho_box input:checked + label:after {
	font-family: FontAwesome;
	content: '\f139'' 閉じる';
}
.haibanho_box input:checked ~ .haibanho_container {
	height: auto;
	padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}

// ホルモン値のラベル(day, e2, fsh, lh, p4)
.hormon-label {
	background-color: #E8FEFC;
}

// 転院歴テーブルのラベル&カラム
.itinerary-of-clinic-label {
  background-color: #E8FEFC;
}

.itinerary-of-clinic-col1 {
	width: 25%;
}

.itinerary-of-clinic-col2 {
	width: 25%;
}

.itinerary-of-clinic-col3 {
	width: 50%;
}

// 一覧画面の記事「続きを読む」
.lead-content {
	background-color: rgba(147,224,224,0.4);
	border-radius: 5px;
}