.reports_button {
  a {
      margin: 0 8px;
  }
}

.reports_table {
  tr:hover {
      cursor: pointer;
  }
}

// タグ
.inline-block_report-card-text {
  display: inline-block;
}

.reports__searchForm {
  display: inline-block;
}

.reports__select {
  display: inline-block;
  width: auto;
}

.form-area {
  background-color: white;
}

.form {
  margin-top: 20px;
}

.show {
  margin-top: 30px;
}

// showの中の独自タイトル
.report_title {
	line-height: 1.7;
	letter-spacing: 0.1em;
	background: rgba(146,224,224,0.1);
	border-top: solid thin #92E0E0;
	border-bottom: solid thin #92E0E0;
}

// アクションテキスト
.trix-content {  
  font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.02em;
  color: #111111;
	// background: rgb(232, 254, 252);
	background: #ffffff;
  min-height: 30em;
}

.trix-content h1 {  
  // border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  // background: #f5f5f5;
  // background: rgb(232, 254, 252);
  font-size: 2em;
	line-height: 1.2;
  padding: 9em 2em;
  padding-top: 0.9em;
  padding-right: 0.2em;
  padding-bottom: 0.9em;
  padding-left: 0.2em;
}

// 記事の左右padding(md以上で切り替え)
.trix-content {
  padding: 20px 5px;
	margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .trix-content {
    padding: 15px;
		margin-bottom: 20px;
  }
}

// 公開非公開ラジオボタン
.draft-published-btn {
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 1000px) {
	.submit-mobile {
		display: none;
	}
}
// content/submitボタン前後にある注釈内の質問項目を指す方向(文字)のデバイス毎の切り替え
@media screen and (min-width: 1000px) {
  .pc-hidden-string {
		display: none;
  }
}
@media screen and (max-width: 999px) {
  .mobile-hidden-string {
		display: none;
  }
}

// 質問セクション間
.spacer {
  height: 30px;
}

// 質問の行間・文字間隔
.form-group .question-matters {
	line-height: 170%;
	letter-spacing: 0.05em
}

// 質問項目下線
// .question-matters {
//   background: linear-gradient(transparent 75%, #90F7EC 100%);
//   color: #4d4c4c;
//   font-weight: bold;
//   font-size: 13px;
// }

// promptの文字色
#main-report .form-control, .custom-file-control {
  // color: rgb(186, 186, 186);
  font-size: 14px;
}

// indexでのタイトル
.index-title {
  font-size: 20px;
}

// showの結果カラム(右)の文字
.result-text {
}

// showのresult右カラム
.result-right-column {
}

// showのresult左カラム
.result-left-column {
	background-color: rgba(232,254,252,0.8);
}

// showのresultのthead
.result-thead {
	background-color: rgba(51,57,64,0.95);
}

.result-column:hover {
  background-color: #ECECEC;
}

// SNSシェアバー
.sns-bar {
  height: 40px;
}

// .twitter-button {
//   background-color: #008DDE;
// }

.twitter-button a {
  color: #fff;
  font-size: 16px;
}

// .facebook-button {
//   background-color: #2e4a88;
// }

.facebook-button a {
  color: #fff;
  font-size: 16px;
}

// .line-button {
//   background-color: #35de00;
// }

.line-button a {
  color: #fff;
  font-size: 16px;
}

// .slack-button {
//   background-color: #f1e1ff;
// }

.slack-button a {
  color: #fff;
  font-size: 16px;
}

// .hatena-button {
//   background-color: #7DB4E8;
// }

.hatena-button a {
  color: #fff;
  font-size: 16px;
}

// .pocket-button {
//   background-color: #D3505A;
// }

.pocket-button a {
  color: #fff;
  font-size: 16px;
}

// snsボタン
.container .sns-side-button {
  position: fixed;
}

.main-column {
  margin-left: 80px; 
}

// md未満ではmain-columnの左マージンを消す
@media screen and (max-width: 768px) {
  .main-column{
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
  }
}

// formの質問事項の開閉
.grad-btn {
  /*.grad-btnのCSSは表示/非表示の動作には関係ないので、ご自由にどうぞ。*/
}
.grad-btn::before {
  content: "続きを読む"
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 80px; /*隠した状態の高さ*/
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked ~ .grad-btn::before {
  content: "閉じる" /*チェックされていたら、文言を変更する*/
}
.grad-trigger:checked ~ .grad-item {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}

// form画面のスプリットスクリーンのブレイクポイント(1000px以下は縦縦並び)
@media screen and (min-width: 1000px) {
.split-left-box {
	position:absolute;
	width: 40%;
	height: 85%;
	border-right: solid thin #92E0E0;
	padding: 0 20px;
}

.split-right-box {
	position:absolute;
	width:60%;
	height: 85%;
	padding: 0 20px;
}

.left-box {
  left:0;
	overflow-y:scroll;
}

.right-box {
	right:0;
	overflow-y:scroll;
}
}

// 続きをよむ
.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_box {
	position: relative;
}
.cp_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 140px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.99) 95%);
}
.cp_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.cp_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome 5 Free;
	content: '治療情報一覧を見る';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #1A2438;
	border: solid thin;
	border-radius: 20px;
	background-color: rgba(232, 254, 252, 0.8);
}
.cp_box input {
	display: none;
}
.cp_box .cp_container {
	overflow: hidden;
	height: 300px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.cp_box input:checked + label {
	/* display: none ; 閉じるボタンを消す場合解放 */
}
.cp_box input:checked + label:after {
	font-family: FontAwesome;
	content: '閉じる';
}
.cp_box input:checked ~ .cp_container {
	height: auto;
	padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}

// 採卵ホルモン数値選択テーブルのカラム幅(day,e2...)
.day-column {
  width: 20%;
}

.hormone-column {
  width: 20%;
}

// 移植数値選択テーブルのカラム幅(day,e2...)
.et-bt-column {
  width: 20%;
}

.et-bt-hormone-column {
  width: 16%;
}


// 採卵ホルモン値追加アコーディオン
.hormone_box *, .hormone_box *:before, .hormone_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.hormone_box {
	position: relative;
}
.hormone_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 100px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.hormone_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.hormone_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: '\f13a'' 追加する';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.hormone_box input {
  // display: none;
  border: none;
  background: none;
  -webkit-appearance: none;
}

.hormone_box .hormone_container {
	overflow: hidden;
	height: 450px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.hormone_box input:checked + label {
	/* display: none ;閉じるボタンを消す場合解放 */
}
.hormone_box input:checked + label:after {
	font-family: FontAwesome;
	content: '\f139'' 閉じる';
}
.hormone_box input:checked ~ .hormone_container {
	height: auto;
	padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}


// 初期胚移植ホルモン値追加アコーディオン
.shokihai_box *, .shokihai_box *:before, .shokihai_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.shokihai_box {
	position: relative;
}
.shokihai_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 100px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.shokihai_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.shokihai_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: '\f13a'' 追加する';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.shokihai_box input {
  // display: none;
  border: none;
  background: none;
  -webkit-appearance: none;
}

.shokihai_box .shokihai_container {
	overflow: hidden;
	height: 450px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.shokihai_box input:checked + label {
	/* display: none ; 閉じるボタンを消す場合解放 */
}
.shokihai_box input:checked + label:after {
	font-family: FontAwesome;
	content: '\f139'' 閉じる';
}
.shokihai_box input:checked ~ .shokihai_container {
	height: auto;
	padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}


// 胚盤胞ホルモン値追加アコーディオン
.haibanho_box *, .haibanho_box *:before, .haibanho_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.haibanho_box {
	position: relative;
}
.haibanho_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 100px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.haibanho_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.haibanho_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: '\f13a'' 追加する';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.haibanho_box input {
  // display: none;
  border: none;
  background: none;
  -webkit-appearance: none;
}

.haibanho_box .haibanho_container {
	overflow: hidden;
	height: 450px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.haibanho_box input:checked + label {
	/* display: none ; 閉じるボタンを消す場合解放 */
}
.haibanho_box input:checked + label:after {
	font-family: FontAwesome;
	content: '\f139'' 閉じる';
}
.haibanho_box input:checked ~ .haibanho_container {
	height: auto;
	padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}

// ホルモン値のラベル(day, e2, fsh, lh, p4)
.hormon-label {
	background-color: #E8FEFC;
}

// 転院歴テーブルのラベル&カラム
.itinerary-of-clinic-label {
  background-color: #E8FEFC;
}

.itinerary-of-clinic-col1 {
	width: 25%;
}

.itinerary-of-clinic-col2 {
	width: 25%;
}

.itinerary-of-clinic-col3 {
	width: 50%;
}

// 一覧画面の記事「続きを読む」
.lead-content {
	background-color: rgba(147,224,224,0.4);
	border-radius: 5px;
}

// boxいろいろ
.box1 {
	position: relative;
	margin: 2em 0;
	padding: 0.5em 0em;
	border: solid 3px #333940;
}
.box1 .box-title {
	position: absolute;
	display: inline-block;
	top: -27px;
	left: -3px;
	padding: 0 9px;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	background: #333940;
	color: #ffffff;
	border-radius: 5px 5px 0 0;
}
.box1 p {
	margin: 0; 
	padding: 0;
}

.box2 {
	position: relative;
	margin: 2em 0;
	padding: 0.5em 0em;
	border: solid 3px #92E0E0;
}
.box2 .box-title {
	position: absolute;
	display: inline-block;
	top: -27px;
	left: -3px;
	padding: 0 9px;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	background: #92E0E0;
	color: #202429;
	border-radius: 5px 5px 0 0;
}
.box2 p {
	margin: 0; 
	padding: 0;
}

.box3 {
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #5d627b;
	background: white;
	border-top: solid 4px #5d627b;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box3 p {
	margin: 0; 
	padding: 0;
}

.box4 {
	position: relative;
	padding: 0.5em 0.7em;
	margin: 2em 0;
	background: #e6f4ff;
	color: #5c98d4;
	font-weight: bold;
	border-radius: 4px;
}
.box4:after {
	position: absolute;
	content: '';
	top: 100%;
	left: 30px;
	border: 15px solid transparent;
	border-top: 15px solid #e6f4ff;
	width: 0;
	height: 0;
}
.box4 p {
	margin: 0; 
	padding: 0;
}

.box27 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}
.box27 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box27 p {
    margin: 0; 
    padding: 0;
}

.box16{
	padding: 0.5em 1em;
	margin: 2em 0;
	background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
	background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}
.box16 p {
	margin: 0; 
	padding: 0;
}

// showのタブ
/* 414px幅以上に適用 */
// @media screen and (min-width: 414px) {
	.parent-tab {
		margin: 0 0 2em;
	}

	.child-tab {
		margin: 0;
	}

	.parent-menu {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
	}

	.child-menu {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
	}

	.parent-menu li a {
		display: inline-block;
		text-align: center;
		padding: .3em 1em;
		margin-right: -1px;
		margin-bottom: -1px;
		color: #333;
		font-size: 12px;
		border-top: 1px solid #353434;
		border-right: 1px solid #353434;
		text-decoration: none;
		border-radius: 4px 4px 0 0;
	}

	.child-menu li a {
		display: inline-block;
		text-align: center;
		padding: .3em 1em;
		margin-right: 0.1em;
		margin-bottom: -1px;
		color: #333;
		font-size: 12px;
		text-decoration: none;
		border-radius: 4px 4px 0 0;
	}

	.parent-menu li a.active {
		background: rgb(196,244,244);
		color: #333;
		font-size: 16px;
		font-weight: bold;
		border-top: 1px solid;
		border-left: 1px solid;
		border-right: 1px solid;
	}

	.child-menu li a.active {
		background: #fff;
		color: #333;
		font-size: 16px;
		font-weight: bold;
		border-top: 1px solid;
		border-left: 1px solid;
		border-right: 1px solid;
	}

	.parent-menu li a:not(.active):hover {
		opacity: 0.3;
		transition: opacity 0.4s;
	}

	.child-menu li a:not(.active):hover {
		opacity: 0.3;
		transition: opacity 0.4s;
	}

	.parent-tab-content.active {
		background: rgb(196,244,244);
		color: #333;
		min-height: 150px;
		padding: 2em 12px 12px;
		border: 1px solid;
		display: block;
		border-top-right-radius: 4px;
	}
	.parent-tab-content:not(.mostleft-tab) {
		border-top-left-radius: 4px;
	}

	.child-tab-content.active {
		background: #fff;
		color: #333;
		min-height: 150px;
		padding: 12px;
		border: 1px solid;
		display: block;
		border-top-right-radius: 4px;
	}

	.parent-tab-content {
		display: none;
	}

	.child-tab-content {
		display: none;
	}

	.mostleft-tab {
		border-left: 1px solid;
	}

	#transfer, #job, #factor, #sairan, #inspections, #jusei, #ishoku, #cost, #supplements, #evaluation {
		border-top-left-radius: 4px;
	}
// }

// フラッシュ
.flash-bar {
	padding-top: 1.7em;
}
.flash-bar p {
	margin: 0;
	padding-bottom: .1em;
}

// 未ログインでのshow画面のコメント欄(ブラー)
.comment-blur {
	width: 100%;
	position: relative;
	-ms-filter: blur(6px);
  filter: blur(6px);
}
.commnet-blur-text {
	position: absolute;
}

// showの子タブの中のタイトル
.child-tab-title {
	padding: .5em 0 1em;
	text-align: center;
}

// showのグラフエリア
.grapharea {
	padding-bottom: 2.5em;
}

// クリニック評価レーダーのコンテナ
.chart-container {
	position: relative;
	width: 70vw;
	height: 50vh;
}
.clinic-scoring {
	height: 50vh;
}

// 男女アイコン
.female-icon {
	color: rgba(137, 234, 234, 0.8);
}
.male-icon {
	color: rgba(137, 234, 234, 0.8);
}

// 治療一覧表示のテーブル
.treatment-all-list {
	border-top: solid thin rgb(183, 183, 183);
}
.matome-title {
	background-color: rgb(232, 254, 252);
}

// ペンアイコン
.pen-icon {
	color: rgb(146,224,224);
	font-size: 0.9em;
}

// ボタン(BMIで使用）
.raised-original-button {
  display: inline-block;
  background-color: #26a69b;/*背景色*/
  color: #FFF;/*文字色*/
  font-size: 1em;/*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;/*字間*/
  padding: 0.2em 1em;/*ボタン内の余白*/
  border-radius: 3px;/*角の丸み*/
    cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;/*変化を緩やかに*/
}
.raised-original-button:hover{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);/*浮き上がるように*/
}





// 参考:https://incloop.com/%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%AE%E7%94%BB%E9%9D%A2%E3%81%AE%E5%9B%BA%E5%AE%9A%E4%BD%8D%E7%BD%AE%E3%81%AB%E9%9B%BB%E8%A9%B1%E7%95%AA%E5%8F%B7%E3%82%92%E5%B8%B8%E3%81%AB%E8%A1%A8%E7%A4%BA/

/*767以下で適用*/
@media screen and (max-width:767px){
.report-post-btn-area {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0 );
		z-index: 10000;
}
.report-post-btn-area .report-post-btn-area-inner {
    position: relative;
    width: 40%;
    margin: 0px auto;
    padding: 10px 0;
		margin-right: 0px;
}
.report-post-btn-area .report-post-btn-area-inner .report-post-btn-area-inner_btn {
    // width: 85%;
    padding: 11px 0;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
		line-height: 1.3;
}
.report-post-btn-area-btn {
    background-color: rgb(142, 239, 240);
    -webkit-border-radius: 3px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
		width: 55%;
    padding: 5px 0;
		font-size: 13px;
}
.report-post-btn-area-btn2 {
    background-color: rgb(252, 252, 252);
    -webkit-border-radius: 3px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
		width: 35%;
    padding: 5px 0;
		font-size: 11px;
}
.report-post-btn-area-btn:link, .report-post-btn-area-btn:visited {
    color: rgb(255, 255, 255) !important;
}
.report-post-btn-area-btn2:link, .report-post-btn-area-btn2:visited {
    color: rgb(142, 239, 240) !important;
}
.report-post-btn-area-inner span{
	color: #fff;
}
#siteBottom{
	margin-bottom: 85px;
}
}


// new画面における右上の投稿/保存ボタン
/*768以上991以下で適用*/
@media screen and (min-width:768px){
	.report-post-btn-area {
			position: fixed;
			top: 70px;
			left: 0;
			width: 100%;
			background-color: rgba( 0, 0, 0, 0 );
			z-index: 10000;
	}
	.report-post-btn-area .report-post-btn-area-inner {
			position: relative;
			width: 35%;
			margin: 0px auto;
			padding: 10px 0;
			margin-right: 0px;
	}
	.report-post-btn-area .report-post-btn-area-inner .report-post-btn-area-inner_btn {
			// width: 85%;
			padding: 11px 0;
			font-size: 20px;
			font-weight: bold;
			margin-left: 15px;
			line-height: 1.3;
	}
	.report-post-btn-area-btn {
			background-color: rgba(142, 239, 240, 1);
			-webkit-border-radius: 3px;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			width: 40%;
			padding: 5px 0;
			font-size: 15px;
	}
	.report-post-btn-area-btn2 {
			background-color: rgba(255, 255, 255, 1);
			-webkit-border-radius: 3px;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			width: 30%;
			padding: 5px 0;
			font-size: 13px;
	}
	.report-post-btn-area-btn:link, .report-post-btn-area-btn:visited {
			color: rgb(255, 255, 255) !important;
	}
	.report-post-btn-area-btn2:link, .report-post-btn-area-btn2:visited {
			color: rgb(142, 239, 240) !important;
	}
	.report-post-btn-area-inner span{
		color: #fff;
	}
	#siteBottom{
		margin-bottom: 85px;
	}
}
/*768以上991以下で適用*/
@media screen and (min-width:768px){
	.report-post-btn-area {
			position: fixed;
			top: 70px;
			left: 0;
			width: 100%;
			background-color: rgba( 0, 0, 0, 0 );
			z-index: 10000;
	}
	.report-post-btn-area .report-post-btn-area-inner {
			position: relative;
			width: 35%;
			margin: 0px auto;
			padding: 10px 0;
			margin-right: 0px;
	}
	.report-post-btn-area .report-post-btn-area-inner .report-post-btn-area-inner_btn {
			// width: 85%;
			padding: 11px 0;
			font-size: 20px;
			font-weight: bold;
			margin-left: 15px;
			line-height: 1.3;
	}
	.report-post-btn-area-btn {
			background-color: rgba(142, 239, 240, 1);
			-webkit-border-radius: 3px;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			width: 40%;
			padding: 5px 0;
			font-size: 15px;
	}
	.report-post-btn-area-btn2 {
			background-color: rgba(255, 255, 255, 1);
			-webkit-border-radius: 3px;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			width: 30%;
			padding: 5px 0;
			font-size: 13px;
	}
	.report-post-btn-area-btn:link, .report-post-btn-area-btn:visited {
			color: rgb(255, 255, 255) !important;
	}
	.report-post-btn-area-btn2:link, .report-post-btn-area-btn2:visited {
			color: rgb(142, 239, 240) !important;
	}
	.report-post-btn-area-inner span{
		color: #fff;
	}
	#siteBottom{
		margin-bottom: 85px;
	}
}
/*992以上で適用*/
@media screen and (min-width:992px){
	.report-post-btn-area {
			position: fixed;
			top: 70px;
			left: 0;
			width: 100%;
			background-color: rgba( 0, 0, 0, 0 );
			z-index: 10000;
	}
	.report-post-btn-area .report-post-btn-area-inner {
			position: relative;
			width: 25%;
			margin: 0px auto;
			padding: 10px 0;
			margin-right: 0px;
	}
	.report-post-btn-area .report-post-btn-area-inner .report-post-btn-area-inner_btn {
			// width: 85%;
			padding: 11px 0;
			font-size: 20px;
			font-weight: bold;
			margin-left: 15px;
			line-height: 1.3;
	}
	.report-post-btn-area-btn {
			background-color: rgba(142, 239, 240, 1);
			-webkit-border-radius: 3px;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			width: 50%;
			padding: 5px 0;
			font-size: 15px;
	}
	.report-post-btn-area-btn2 {
			background-color: rgba(255, 255, 255, 1);
			-webkit-border-radius: 3px;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			width: 35%;
			padding: 5px 0;
			font-size: 13px;
	}
	.report-post-btn-area-btn:link, .report-post-btn-area-btn:visited {
			color: rgb(255, 255, 255) !important;
	}
	.report-post-btn-area-btn2:link, .report-post-btn-area-btn2:visited {
			color: rgb(142, 239, 240) !important;
	}
	.report-post-btn-area-inner span{
		color: #fff;
	}
	#siteBottom{
		margin-bottom: 85px;
	}
}