@media screen and (max-width:767px) {
  .icon-field {
    padding: 0.4em 0;
  }
  .icon_image {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    object-fit: cover;
  }
  .icon_image_border {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
  .icon_image2 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }
  .icon_image2_border {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
  .icon_image3 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }
  .icon_image3_border {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
  .icon_image_border_fluid {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
}

@media screen and (min-width:768px) {
  .icon-field {
    padding-bottom: 0.8em;
  }
  .icon_image {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
  }
  .icon_image_border {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
  .icon_image2 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }
  .icon_image2_border {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
  .icon_image_border_fluid {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
}

@media screen and (min-width:992px) {
  .icon_image {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
  }
  .icon_image_border {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
  .icon_image2 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }
  .icon_image2_border {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
  .icon_image_border_fluid {
    width: 60%;
    height: 60%;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
}

@media screen and (min-width:1200px) {
  .icon_image {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    object-fit: cover;
  }
  .icon_image_border {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
  .icon_image2 {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
  }
  .icon_image2_border {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
  .icon_image_border_fluid {
    width: 60%;
    height: 60%;
    border-radius: 100%;
    object-fit: cover;
    border: solid thin #92E0E0;
  }
}

// 通知画面のアイコン
.icon_image4 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  object-fit: cover;
}
.icon_image4_border {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  object-fit: cover;
  border: solid thin #92E0E0;
}

// ユーザー編集画面のアイコン
.icon_image_edit {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

// ユーザー編集画面のアイコン
#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #92E0E0;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 200px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}
#img_field .icon-camera {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 90%;
  height: 4rem;
}
#img_field:hover {
  background-color: #92E0E0;
  transition: 0.3s ease-out;
  opacity: 0.9;
}
#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}
.img-field-parent {
  width: 210px;
  height: 205px;
  position: relative;
}
.capacity-limit-attention {
  position: absolute;
  right: 1px;
  bottom: 1px;
}

// リンクの下線を消す
.profile a:hover {
  text-decoration: none;
}
.users-index a {
  text-decoration: none;
  color: rgb(55, 54, 54);
}

.user-repoco-list a {
  color: rgb(63, 61, 61);
}

// 未設定の文字色
.notset {
  color: #ff5757;
}