<p>ようこそ <%= @email %>!</p>

<p>この度は REPOCO（レポコ） をご利用いただき、誠にありがとうございます。</p>
<p>お手数をおかけしますが、下記のURLをクリックしていただくと、アカウント登録完了になります。</p><br>

<p><%= link_to 'アカウントの確認はこちら', confirmation_url(@resource, confirmation_token: @token) %><br>
※リンクの有効期限：24時間</p><br>


<p>上記のリンクをクリックして問題がある場合は、リンクをコピーしてブラウザに貼り付けてください。<br>
※このメールは REPOCO（レポコ）へ登録いただいた方へ送信させていただいております。お心当たりのない場合はお手数ですが、下記までご連絡をお願いいたします。</p><br>


<p>----------------------------------------------------</p>

<p>本メールは送信専用です。<br>
返信メールでのお問い合わせは承りかねますので、あらかじめご了承願います。<br>
各種お問い合わせにつきましては、以下の問い合わせよりお願いいたします。</p>

<p>----------------------------------------------------<br>
REPOCOサポート<br>
<a href="https://forms.gle/ZJW7qnkX4PLN7Lkc9">お問い合わせはこちら</a><br>
---------------------------------------------------</p>