<p>ようこそ <%= @email %>!</p>

<p>この度はREPOCOに登録いただきありがとうございます。</p>
<p>お手数をおかけしますが、以下リンクより登録の完了をお願いいたします。</p>
<p>ぜひ詳細かつたくさんの情報を治療レポートをあなただけのレポコとして作り上げてみて下さい。</p>
<p>レポコが不妊治療の治療方針やクリニック選びで悩まれる多くの方のお役に立てれば幸いです。</p>

<p><%= link_to 'アカウントの確認', confirmation_url(@resource, confirmation_token: @token) %></p>
