<p>ようこそ <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>登録のメールアドレスが、<%= @resource.unconfirmed_email %>に変更されたことをお知らせします。</p>
<% else %>
  <p>登録のメールアドレスが、 <%= @resource.email %>に変更されたことをお知らせします。</p>
<% end %>
