<p>ようこそ <%= @resource.email %>!</p>

<p>パスワード変更のリクエストをしました。以下リンクより変更をすることが可能です。</p>

<p><%= link_to '→ パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>変更をリクエストした覚えがない場合にはこの通知は無視してください。</p>
<p>上記リンクにアクセスして新しいパスワードを作成するまでパスワードは変更されません。</p>
