<p>ようこそ <%= @resource.email %>!</p>

<p>ログインへの失敗回数が規定回数を超えたため、アカウントがロックされました。</p>

<p>アカウントのロック解除は、以下リンクより行ってください。</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
