<div class="footer container py-5">
  <div class="row">
    <div class="col-md-11 offset-md-1 logo-footer">
      <%= link_to image_tag("home/logo.png", alt: "repoco_logo", width: "170px", class: "img-fluid", loading: "lazy"), root_path %>
    </div>
    <div class="col-md-11 offset-md-1 mt-4 mb-3 small">
      <small>REPOCOは、不妊治療で妊娠出産に至った方や、転院または治療をやめられた方の足跡を「治療レポート」として投稿〜検索できるサービスです。<br>具体的な治療情報はもちろんのこと、心境の変化などの心の機微についても書き記すことで、その決断に至った経緯を立体的かつよりクリアに知る事ができます。ぜひクリニック選びや治療方針を検討する際にお役立て下さい。</small>
    </div>
    <div class="col-md-5 offset-md-1 col-lg-5 offset-lg-1 mt-5">
      <ul class="links list-inline">
        <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><a href="/about" class="text-muted">REPOCO（レポコ）とは</a></li>
        <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><a href="/terms" class="text-muted">利用規約</a></li>
        <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><a href="/privacy" class="text-muted">プライバシーポリシー</a></li>
        <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><a href="/admin" class="text-muted">運営者情報</a></li>
        <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><a href="https://forms.gle/ZJW7qnkX4PLN7Lkc9" target="_blank" class="text-muted">お問い合わせ</a></li>
        <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><a href="https://forms.gle/tUnFiu4f8SRNyrr19" target="_blank" class="text-muted">フィードバック</a></li>
      </ul>
      <div class="copyright">
        <span class="small text-muted">© 2020 <a href="https://repoco.net" class="text-muted">REPOCO.net</a></span>
      </div>
    </div>
    <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1 mt-5 feedback-area">
      <form action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSdSe_vOEPPdpsZI0Wn5YuYUl7LTqaYeq8x_yBLGaOhiM4eiuQ/formResponse" target="_self" method="POST" class="text-right">
        <textarea class="feedback-textarea" rows="5" placeholder="REPOCOに関するご意見やご要望をお聞かせください。どんな些細なことでもウェルカムです！" name="entry.1597222762" required></textarea><br>
        <button type="submit" class="btn btn-outline-primary">意見を送る&nbsp;<i data-feather="send" class="feather-icon-style1"></i></button>
      </form>
    </div>
  </div>
</div>