<div class="footer container py-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-xs-12 logo-footer">
      <%= link_to image_tag("home/logo.png", alt: "repoco_logo", width: "170px", class: "img-fluid", loading: "lazy"), root_path %>
    </div>
    <div class="col-lg-11 offset-lg-1 col-xs-12 mt-4 mb-3">
      <small>REPOCOは、不妊治療で妊娠出産に至った方や、治療をやめられた方の足跡を詳細な「治療レポート」として投稿/検索できるサービスです。<br>ぜひ、クリニック選びや治療方針を検討する際にお役立てください。</small>
    </div>
    <div class="col-md-6 offset-md-0 col-lg-4 offset-lg-1 mt-5">
      <p><small class="text-muted">投稿者のエリア(住まい)から探す</small></p>
      <p class="my-0"><small class="text-muted">北海道&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;北海道</small></p>
      <p class="my-0"><small class="text-muted">東北&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;青森&nbsp;&nbsp;&nbsp;&nbsp;岩手&nbsp;&nbsp;&nbsp;&nbsp;宮城&nbsp;&nbsp;&nbsp;&nbsp;秋田&nbsp;&nbsp;&nbsp;&nbsp;山形&nbsp;&nbsp;&nbsp;&nbsp;福島</small></p>
      <p class="my-0"><small class="text-muted">関東&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;茨城&nbsp;&nbsp;&nbsp;&nbsp;栃木&nbsp;&nbsp;&nbsp;&nbsp;群馬&nbsp;&nbsp;&nbsp;&nbsp;埼玉&nbsp;&nbsp;&nbsp;&nbsp;千葉&nbsp;&nbsp;&nbsp;&nbsp;東京&nbsp;&nbsp;&nbsp;&nbsp;神奈川</small></p>
      <p class="my-0"><small class="text-muted">北陸&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;新潟&nbsp;&nbsp;&nbsp;&nbsp;富山&nbsp;&nbsp;&nbsp;&nbsp;石川&nbsp;&nbsp;&nbsp;&nbsp;福井</small></p>
      <p class="my-0"><small class="text-muted">中部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;山梨&nbsp;&nbsp;&nbsp;&nbsp;長野&nbsp;&nbsp;&nbsp;&nbsp;岐阜&nbsp;&nbsp;&nbsp;&nbsp;静岡&nbsp;&nbsp;&nbsp;&nbsp;愛知&nbsp;&nbsp;&nbsp;&nbsp;三重</small></p>
      <p class="my-0"><small class="text-muted">関西&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;滋賀&nbsp;&nbsp;&nbsp;&nbsp;京都&nbsp;&nbsp;&nbsp;&nbsp;大阪&nbsp;&nbsp;&nbsp;&nbsp;兵庫&nbsp;&nbsp;&nbsp;&nbsp;奈良&nbsp;&nbsp;&nbsp;&nbsp;和歌山</small></p>
      <p class="my-0"><small class="text-muted">中国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;鳥取&nbsp;&nbsp;&nbsp;&nbsp;島根&nbsp;&nbsp;&nbsp;&nbsp;岡山&nbsp;&nbsp;&nbsp;&nbsp;広島&nbsp;&nbsp;&nbsp;&nbsp;山口</small></p>
      <p class="my-0"><small class="text-muted">四国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;徳島&nbsp;&nbsp;&nbsp;&nbsp;香川&nbsp;&nbsp;&nbsp;&nbsp;愛媛&nbsp;&nbsp;&nbsp;&nbsp;高知</small></p>
      <p class="my-0"><small class="text-muted">九州&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;福岡&nbsp;&nbsp;&nbsp;&nbsp;佐賀&nbsp;&nbsp;&nbsp;&nbsp;長崎&nbsp;&nbsp;&nbsp;&nbsp;熊本&nbsp;&nbsp;&nbsp;&nbsp;大分&nbsp;&nbsp;&nbsp;&nbsp;宮崎&nbsp;&nbsp;&nbsp;&nbsp;鹿児島</small></p>
      <p class="my-0"><small class="text-muted">沖縄&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;沖縄</small></p>
    </div>
    <div class="col-md-6 offset-md-0 col-lg-4 offset-lg-1 mt-5">
      <p><small class="text-muted">クリニックから探す</small></p>
      <p class="my-0"><small class="text-muted">北海道&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;北海道</small></p>
      <p class="my-0"><small class="text-muted">東北&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;青森&nbsp;&nbsp;&nbsp;&nbsp;岩手&nbsp;&nbsp;&nbsp;&nbsp;宮城&nbsp;&nbsp;&nbsp;&nbsp;秋田&nbsp;&nbsp;&nbsp;&nbsp;山形&nbsp;&nbsp;&nbsp;&nbsp;福島</small></p>
      <p class="my-0"><small class="text-muted">関東&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;茨城&nbsp;&nbsp;&nbsp;&nbsp;栃木&nbsp;&nbsp;&nbsp;&nbsp;群馬&nbsp;&nbsp;&nbsp;&nbsp;埼玉&nbsp;&nbsp;&nbsp;&nbsp;千葉&nbsp;&nbsp;&nbsp;&nbsp;東京&nbsp;&nbsp;&nbsp;&nbsp;神奈川</small></p>
      <p class="my-0"><small class="text-muted">北陸&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;新潟&nbsp;&nbsp;&nbsp;&nbsp;富山&nbsp;&nbsp;&nbsp;&nbsp;石川&nbsp;&nbsp;&nbsp;&nbsp;福井</small></p>
      <p class="my-0"><small class="text-muted">中部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;山梨&nbsp;&nbsp;&nbsp;&nbsp;長野&nbsp;&nbsp;&nbsp;&nbsp;岐阜&nbsp;&nbsp;&nbsp;&nbsp;静岡&nbsp;&nbsp;&nbsp;&nbsp;愛知&nbsp;&nbsp;&nbsp;&nbsp;三重</small></p>
      <p class="my-0"><small class="text-muted">関西&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;滋賀&nbsp;&nbsp;&nbsp;&nbsp;京都&nbsp;&nbsp;&nbsp;&nbsp;大阪&nbsp;&nbsp;&nbsp;&nbsp;兵庫&nbsp;&nbsp;&nbsp;&nbsp;奈良&nbsp;&nbsp;&nbsp;&nbsp;和歌山</small></p>
      <p class="my-0"><small class="text-muted">中国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;鳥取&nbsp;&nbsp;&nbsp;&nbsp;島根&nbsp;&nbsp;&nbsp;&nbsp;岡山&nbsp;&nbsp;&nbsp;&nbsp;広島&nbsp;&nbsp;&nbsp;&nbsp;山口</small></p>
      <p class="my-0"><small class="text-muted">四国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;徳島&nbsp;&nbsp;&nbsp;&nbsp;香川&nbsp;&nbsp;&nbsp;&nbsp;愛媛&nbsp;&nbsp;&nbsp;&nbsp;高知</small></p>
      <p class="my-0"><small class="text-muted">九州&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;福岡&nbsp;&nbsp;&nbsp;&nbsp;佐賀&nbsp;&nbsp;&nbsp;&nbsp;長崎&nbsp;&nbsp;&nbsp;&nbsp;熊本&nbsp;&nbsp;&nbsp;&nbsp;大分&nbsp;&nbsp;&nbsp;&nbsp;宮崎&nbsp;&nbsp;&nbsp;&nbsp;鹿児島</small></p>
      <p class="my-0"><small class="text-muted">沖縄&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;沖縄</small></p>
    </div>
    <div class="col-lg-10 offset-lg-1 col-xs-12 mt-4 pt-5">
      <ul class="list-inline text-center">
        <li class="list-inline-item"><small>利用規約</small></li>
        <li class="list-inline-item"><small>プライバシーボリシー</small></li>
        <li class="list-inline-item"><small>運営企業</small></li>
      </ul>
    </div>
  </div>
</div>