<div class="tab-wrap1 mt-0">
  <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" />
  <label class="tab-label" for="TAB-01">投稿</label>
  <div class="tab-content1">
    <div class="pt-4 text-center">
      <h4 class="mb-0">投稿ガイドライン</h4>
    </div>
    <div class="pt-5">
      <p class="pl-3">REPOCOは、医療機関で実際に治療されたユーザーによるご自身の治療情報及び主観的な感想や評価をインターネット上に公開することで、生殖補助医療を行う医療機関選びの参考として信頼される検索サービスとして多くの皆様にご活用いただくことを目的としています。</p>
      <p class="pl-3">REPOCOは、選択式での治療情報とともにテキストによる治療体験を残せる機能を提供するといった、レビューサイトとしての側面があります。多くの治療を経験された方からの忌憚ないレビュー(ユーザーからREPOCOに投稿される治療情報や感想、コメントその他一切の投稿されたテキスト情報について、以下「レビュー」といいます）をお寄せいただきたいと考えておりますが、健全なコミュニティサイト運営のためのルールとして、レビューを投稿する際に遵守いただく事項につき本ガイドラインを規定しております。<p>
      <p class="pl-3"><%= link_to "利用規約", terms_path, class: "text-primary" %>とあわせ本ガイドラインの遵守にご協力いただきますよう、よろしくお願いいたします。</p>
      <p class="pl-3">なお本ガイドラインに違反するレビューについては、下記に個別に規定した場合を含め、REPOCO側の判断により修正をお願いする場合や、投稿したユーザーへの予告をすることなく非公開または削除させていただく場合がございますので、あらかじめご了承ください。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">1． 実際に治療された内容を具体的に記述してください。</h5>
      <p class="pl-3">レビューを投稿する際は、「他の人が読んで、参考になること」を心がけていただき、医療機関や治療に関する情報や感想を具体的に記述するようお願いいたします。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">2．医療機関へ悪影響を及ぼすかつ内容の確認が困難な事象についての投稿はご遠慮ください。</h5>
      <p class="pl-3">医療機関へ悪影響を及ぼすかつ事実関係の確認が困難な事象の書き込みはご遠慮ください。</p>
      <p class="pl-3">なお、事実関係の確認が困難 (感想としての記述ではないもの）で、かつ他のユーザーや医療機関から「その内容は事実と異なる」という連絡があったレビューについては、REPOCO側で連絡いただいた内容を元に確認し、本項に該当すると判断した場合には、当該レビューを非公開または削除する場合がございますのでご了承ください。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">3．医療機関の法律違反・契約違反に関する内容はしかるべき当局または関係者へご連絡ください。</h5>
      <p class="pl-3">REPOCOは告発の場ではありませんので、医療機関が法律や契約等に違反しているといった問題は、しかるべき当局または関係者等にご連絡ください。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">4． 個人への誹謗中傷、医療機関への断定的批判、及び不適切な表現は禁止します。</h5>
      <p class="pl-3">REPOCOは、あくまでも個人の主観的感想を共有する場であり、他人のレビューを批判する場ではありませんので、レビューにおいて、特定または不特定を問わず、他のユーザーに対して非難・中傷・嘲笑することはご遠慮ください。</p>
      <p class="pl-3">また、特定人種に対する決めつけ、人種批判・差別に当たる内容もご遠慮ください。</p>
      <p class="pl-3">批判を投稿する場合は、断定的な表現ではなく、あくまでも個人の感想として、主観的な表現でお願いいたします。なお、誤解を招く恐れがありますので、文脈に関係なく断定的な表現にはご注意ください。</p>
      <p class="pl-3">主観的であっても、医療機関関係者個人を特定した批判はご遠慮ください。</p>
      <p class="pl-3">また、特定・不特定を問わず、医療機関を訪問されている他の利用客を非難・中傷・嘲笑することはご遠慮ください。</p>
      <p class="pl-3">主観的であっても、以下のようにレビューとして不適切な表現は、REPOCO側から修正をお願いする場合や、投稿したユーザーに予告することなく、非表示または削除する場合があります。</p>
      <ul class="py-4 small">
        <li class="mb-3">例） つぶれろ。金返せ。 (NG）</li>
      </ul>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">5． プライバシーの侵害にご配慮ください。</h5>
      <p class="pl-3">医療機関関係者に関するレビューとして、他人に知られたくない経歴の暴露はプライバシーの侵害に該当する可能性がありますので、そのような表現は避けてください。</p>
      <p class="pl-3">その他、第三者のプライバシー侵害に当たる記述についても投稿はご遠慮ください。</p>
      <p class="pl-3">REPOCOにおいては、ユーザーがレビューを投稿するにあたり、投稿者本人の責任と負担により、投稿内容について著作権等の必要な権利を全て有していること、また第三者の肖像権等が含まれる場合には必要な権利処理がなされていることを前提とさせていただいておりますので、十分にご注意ください。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">6． 著作権等の知的財産権についてご配慮ください。</h5>
      <p class="pl-3">雑誌、書籍等から引用する場合は、引用部分とレビュー本文とを明確に区別し、出典 (雑誌は掲載号、書籍は出版社、著者等）を明記の上、行うようにして下さい。ただし、当該引用が著作権法等の各種法令に基づく第三者の権利を侵害していないかについては、ユーザー自身にご判断いただくことになります。REPOCO側では一切責任を負いませんので、予めご了承ください。</p>
      <p class="pl-3">なお、REPOCOに掲載されたレビュー・画像を、投稿者本人以外の方がREPOCOに無断で転記・転載することは認められていません。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">7． 対価を目的としたレビューの投稿を禁止します。</h5>
      <p class="pl-3">REPOCOでは、金品またはそれに相当するサービスを受けることを目的としたレビューの投稿は禁止しております。発覚した場合には、該当のレビューを即刻削除し、しかるべき処置を行う場合がございます。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">8． 医療機関関係者が関係医療機関へレビューを投稿することを禁止します。</h5>
      <p class="pl-3">REPOCOは、ユーザーが実際に医療機関で治療をした際の主観的な感想・意見を投稿するレビューサイトです。そのため、医療機関関係者の方が関係医療機関にレビューを投稿することを禁止しています。</p>
      <p class="pl-3">該当のレビューを発見した場合には削除します。また、REPOCO側で医療機関関係者からのレビューと判断した場合にも、削除する場合がございます。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">9．節度ある表現での投稿をお願いします。</h5>
      <p class="pl-3">REPOCOでは、治療をした際の不満の内容をレビューとして投稿していただくことを禁止はしておりませんが、 不満の内容について投稿される際には、他のユーザーや医療機関に配慮した表現での記述をお願いいたします。</p>
      <p class="pl-3">なお、REPOCO側で不適切と判断した場合には、該当のレビューを非公開または削除する場合がございます。</p>
    </div>

    <div class="pt-5 text-right">
      2021年3月1日制定<br>
    </div>

  </div>
  <input id="TAB-02" type="radio" name="TAB" class="tab-switch" />
  <label class="tab-label" for="TAB-02">画像</label>
  <div class="tab-content1">
    <div class="pt-4 text-center">
      <h4 class="mb-0">画像ガイドライン</h4>
    </div>
    <div class="pt-5">
      <p class="pl-3">REPOCOでは、以下のような画像の投稿を禁止しております。ユーザーの皆様には、<%= link_to "利用規約", terms_path, class: "text-primary" %>とあわせ本ガイドラインの遵守にご協力いただきますよう、よろしくお願いいたします。</p>
      <p class="pl-3">なお、本ガイドラインに抵触する画像が投稿されますと、投稿したユーザーへの予告をすることなくREPOCO側で非公開または削除する場合があります。また、本ガイドラインに直接当てはまらない画像であっても、REPOCO側で不適切であると判断した場合には、修正のお願いや投稿したユーザーへの予告をすることなく非公開または削除といった対応を執らせていただくことがあります。あらかじめご了承ください。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">1.プライバシーを侵害する可能性がある画像</h5>
      <p class="pl-3">表札、個人の氏名、人物、住所、車両のナンバープレート等の画像のうち、撮影対象から同意を得ていない画像や個人情報が判別できないよう加工されていない画像等、プライバシーや個人情報の保護の観点から問題となる画像の投稿はご遠慮ください。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">2.著作権を侵害する、またはその可能性がある画像</h5>
      <p class="pl-3">ご自身で撮影したものではなく、撮影者本人の許可を得ていない画像については、著作権侵害に該当する恐れがありますので、投稿をご遠慮ください。特に、他のレビューサイト、ブログ等の画像を、許可なく使用することは著作権侵害に該当する可能性がありますので、ご注意ください。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">3.わいせつな画像</h5>
    </div>

    <div>
      <h5 class="pb-2 mb-4">4.残虐的、生理的嫌悪感を発生させる画像</h5>
    </div>

    <div>
      <h5 class="pb-2 mb-4">5.対価を受けることを目的とした画像</h5>
      <p class="pl-3">アフィリエイト誘導等、第三者（医療機関を含みます）より金品またはそれに相当するサービスを受けることを目的とした画像の投稿は、ご遠慮いただいております。</p>
    </div>

    <div class="pt-5">
      <h5 class="pb-2 mb-4">6.医療機関から許可を得ていない画像</h5>
      <p class="pl-3">医療機関が設けているルール（院内撮影禁止等）に違反した画像については、投稿をご遠慮ください。また、掲載後に医療機関または他のユーザーからその旨をご指摘があった場合には、REPOCOにて削除させていただくことがあります。</p>
    </div>

    <div class="pt-5 text-right">
      2021年3月1日制定<br>
    </div>
  </div>
</div>