<p>株式会社Allyle（以下「運営者」といいます）は、運営者が運営するサービスである「REPOCO」（レポコ）（以下「本サービス」といいます）の利用について、以下のとおり利用規約を定めます（以下「本規約」といいます）。REPOCOの利用者は、予め本規約に同意した上で、REPOCOを利用するものとします。本サービスを利用する者は、本規約に同意したものとみなします。</p>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第1条（本規約の目的及び適用範囲等）</h6>
  <ol>
    <li class="mb-2">本サービスは、登録ユーザーによって投稿された医療機関に関するコメント等を公開することで、他の本サービス閲覧者が医療機関を選ぶ際の参考とすることを主な目的とします。</li>
    <li class="mb-3">本規約とは別に、運営者が本サービスに関連して提供する「注意事項」「プライバシーポリシー」その他運営者が指定するものは、本規約の一部を構成するものとします。</li>
    <li class="mb-3">本規約（第２項の定めに従い本規約の一部を構成するものを含みます。）は、運営者とユーザーとの間で締結される本サービスの利用に関する契約（以下「本契約」といいます。）の一部を構成するものとします。</li>
    <li class="mb-3">未成年者が本サービスを利用する場合、親権者の方に本規約を確認いただいた上、承諾を得てください。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第2条（定義）</h6>
  <p class="pl-2">本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。</p>
  <ol>
    <li class="mb-3">「本規約」とは、冒頭文で定義するものをいいます。</li>
    <li class="mb-3">「本サービス」とは、冒頭文で定義するものをいいます。</li>
    <li class="mb-3">「運営者」とは、本サービスの運営主体である株式会社Allyleをいいます。</li>
    <li class="mb-3">「登録ユーザー」とは、本規約第3条（登録）に基づいて本サービスの利用者としての登録がなされた個人または法人をいいます。</li>
    <li class="mb-3">「ユーザー」とは、登録をしていない個人または法人であって、本サービスを閲覧・使用する者及び登録ユーザーの総称をいいます。</li>
    <li class="mb-3">「本契約」とは、前条第３項で定義するものをいいます。</li>
    <li class="mb-3">「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、またそれらの権利につき登録等を出願する権利を含みます。）をいいます。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第3条（登録）</h6>
  <ol>
    <li class="mb-3">本サービスの登録を希望する者（以下「登録申請者」といいます。）は、本規約を遵守することに同意し、かつ運営者の定める一定の情報（以下「登録事項」といいます。）を運営者の定める方法で運営者に提供することにより、運営者に対し、本サービスの利用を申請することができます。</li>
    <li class="mb-3">運営者は、登録申請者が以下の各号のいずれかの事由に該当する場合は、登録及び再登録を拒否することがあり、またその理由について一切開示義務を負いません。</li>
    <ul>
      <li class="mb-3">運営者に提供した登録事項の全部または一部につき虚偽、誤記又は記載漏れがあった場合</li>
      <li class="mb-3">反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、または資金提供その他を通じて反社会勢力等の維持、運営もしくは経営に協力もしくは菅如する等反社会的勢力等の何らかの交流もしくは関与を行っていると運営者が判断した場合</li>
      <li class="mb-3">登録申請者が過去運営者との契約に違反した者またはその関係者であると運営者が判断した場合</li>
      <li class="mb-3">第9条に定める登録抹消等の措置を受けたことがある場合</li>
      <li class="mb-3">その他、運営者が登録を適当でないと判断した場合</li>
    </ul>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第4条（パスワード及びユーザーIDの管理）</h6>
  <ol>
    <li class="mb-3">登録ユーザーは、自己の責任において、本サービスに関するパスワード及びユーザーIDを適切に管理及び保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならないものとします。</li>
    <li class="mb-3">パスワードまたはユーザーIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとし、運営者は一切の責任を負いません。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第5条（禁止事項）</h6>
  <p class="pl-2">ユーザーは、本サービスの利用にあたり、以下の行為を行ってはならないものとします。</p>
  <ol>
    <li class="mb-3">本規約に違反する行為</li>
    <li class="mb-3">他人になりすまして本サービスに登録する行</li>
    <li class="mb-3">他人の知的財産権、プライバシー権、肖像権、その他一切の権利を侵害する行為</li>
    <li class="mb-3">他人の差別若しくは誹謗中傷し、又はその名誉もしくは信用を毀損する行為</li>
    <li class="mb-3">他人に嫌悪感を抱かせ、もしくは嫌悪感を抱かせるおそれがある文章等を投稿、記載又は転載する行為</li>
    <li class="mb-3">無限連鎖講（ネズミ講）又はマルチまがい商法へ勧誘する行為</li>
    <li class="mb-3">チェーンメール等の第三者への情報の拡散を求める行為</li>
    <li class="mb-3">薬物犯罪、規制薬物等の濫用に結びつく、もしくは結びつくおそれの高い行為、又は未承認医薬品等の広告を行う行為、貸金業を営む登録を受けないで金銭の貸付の広告を行う行為</li>
    <li class="mb-3">本サービスにより利用しうる情報を改ざんし、又は消去する行為</li>
    <li class="mb-3">自己のログインに必要な情報を他人と共有し、又は他者が共有しうる状態に置く行為</li>
    <li class="mb-3">他人になりすまして本サービスを利用する行為（他の登録ユーザーのユーザーID等を不正に使用する行為を含みます。）</li>
    <li class="mb-3">売春行為、売春斡旋行為、暴力行為等公序良俗に違反する行為</li>
    <li class="mb-3">違法な賭博・ギャンブルを行わせ、又は違法な賭博・ギャンブルへの参加を勧誘する行為</li>
    <li class="mb-3">違法な行為（違法薬物、けん銃等の凶器、爆発物、児童ポルノの制作・所持・提供等）又はその斡旋行為</li>
    <li class="mb-3">本サービスを通じ、コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報を運営者、他のユーザーまたはその他の第三者に送信する行為または本サービス内の投稿可能な箇所に投稿する行為</li>
    <li class="mb-3">殺害現場、拷問動画等、著しく残虐な情報を送信する行為</li>
    <li class="mb-3">人を自殺に誘引又は勧誘する行為、又は他人に危害の及ぶおそれの高い自殺の手段等を紹介する等の行為</li>
    <li class="mb-3">差別を助長する行為</li>
    <li class="mb-3">面識のない異性との出会いを目的とする行為</li>
    <li class="mb-3">本サービスを通じ、アフィリエイトのリンクを含む情報を運営者、他のユーザーまたはその他の第三者に送信する行為または本サービス内の投稿可能な箇所に投稿する行為</li>
    <li class="mb-3">運営者又は本サービスの運営等を妨げる行為</li>
    <li class="mb-3">運営者又は本サービスの運営等を妨げる行為</li>
    <li class="mb-3">その他一切の違法行為、又はこれを助長・援助する行為</li>
    <li class="mb-3">前各号に該当するおそれがあると運営者が判断する行為</li>
    <li class="mb-3">その他運営者が不適当と判断した行為</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第6条（本サービスの停止等）</h6>
  <ol>
    <li class="mb-3">運営者は、以下のいずれかに該当する場合には、ユーザーに事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。</li>
    <ul class="my-2">
      <li>本サービスに係るコンピューター・システムの点検または保守作業を緊急に行う場合</li>
      <li>コンピューター、通信回線等が事故により停止した場合</li>
      <li>地震、落雷、火災、風水害、テロ、パンデミック(感染症の感染拡大に伴う行動制限など)、天災地変などの不可抗力により本サービスの運営ができなくなった場合</li>
      <li>その他、運営者が本サービスの運営上必要と判断した場合</li>
    </ul>
    <li class="mb-3">運営者は、本条に基づき運営者が行った措置に基づきユーザーに生じた損害について、一切の責任を負いません。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第7条（投稿データに関する権利帰属）</h6>
  <ol>
    <li class="mb-3">ユーザーは、ユーザー自身の責任において本サービスを利用するものとし、本サービスを利用してなされた一切の行為及びその結果について一切の責任を負います。</li>
    <li class="mb-3">本サービスを利用してユーザーが投稿した情報に関する責任は、ユーザー自身にあります。運営者はユーザーが本サービスを利用して投稿した情報の内容について、一切の責任を負いません。</li>
    <li class="mb-3">ユーザーが本サービスで投稿した記事、ログ等の文面および画像等のファイルデータ（以下「投稿等」といいます）の著作権（当該投稿等の翻案権も含む）については、本サービスの提供・維持・改善又は本サービスのプロモーションに必要な範囲において、当該著作権の存続期間の満了日まで、当該投稿等を行ったユーザーが運営者に対して無償かつ地域非限定で利用することを許諾したものとします。</li>
    <li class="mb-3">本サービスで投稿等を行ったユーザーは、運営者及び運営者から権利を承継し又は許諾された者に対し、著作者人格権を行使しないものとします。</li>
    <li class="mb-3">ユーザーは、自身が本サービスに投稿する投稿等について、本規約第５条第３号及び第４号に該当しないことを保証するものとします。</li>
    <li class="mb-3">ユーザーの投稿等が、前項に掲げる事由に該当する場合、それによって起こった紛争に関して、当該投稿等を行ったユーザーの責任と費用の元で解決するとともに、運営者は一切の責任を負わないものとします。</li>
    <li class="mb-3">ユーザーは、ユーザーが本サービスを利用して投稿した情報について運営者に保存義務がないことを認識し、必要な情報については適宜バックアップをとるものとします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第8条（投稿等の削除等について）</h6>
  <p class="pl-2">運営者は、ユーザーが投稿した投稿等について、次条第１項に掲げる事由に該当する場合、その他掲載することが不適切であると運営者が判断した場合は、事前に通知または催告することなく、当該投稿等を削除または非表示にすることができるものとします。</p>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第9条（登録抹消等）</h6>
  <ol>
    <li class="mb-3">運営者は、登録ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知または催告することなく、当該登録ユーザーについて本サービスの利用を一時的に停止し、または登録ユーザーとしての登録を抹消、もしくはサービス利用契約を解除することができます。</li>
    <ul class="my-2">
      <li>本規約のいずれかの条項に違反した場合</li>
      <li>登録事項に虚偽の事実があることが判明した場合</li>
      <li>支払い停止もしくは支払い不能となり、または破産手続き開始、民事再生手続き開始、会社更生手続き開始、特別清算開始若しくはこれらに類する手続き開始の申し立てがあった場合</li>
      <li>6カ月以上本サービスの利用がない場合</li>
      <li>運営者からの問い合わせその他の回答を求める連絡に対して30日間以上応答がない場合</li>
      <li>第3条2項に該当する場合</li>
      <li>その他、運営者が本サービスの利用、登録ユーザーとしての登録、またはサービスの利用契約の継続を適切でないと判断した場合</li>
    </ul>
    <li class="mb-3">前項各号のいずれかの事由に該当した場合、本規約に違反する行為又はそのおそれのある行為が行われたと信じるに足りる相当な理由があると判断した場合には、当該行為を行った登録ユーザーの本サービスの利用の一時停止、登録ユーザーとしての登録の抹消、サービス利用契約の解除、投稿等の情報の全部もしくは一部の削除、及び公開範囲の変更等を行う場合があります。</li>
    <li class="mb-3">運営者は、本条に基づき運営者が行った行為により登録ユーザーに生じたいかなる損害について一切の責任を負いません。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第10条（退会）</h6>
  <ol>
    <li class="mb-3">登録ユーザーは退会ページより、本サービスから退会し、自己の登録ユーザーとしての登録を抹消することができます。<br><span class="small text-muted">（退会手順:&nbsp;&nbsp;(ログイン後)マイページ→プロフィール設定→登録情報ページにある登録情報をクリック→登録設定→退会）</span></li>
    <li class="mb-3">登録ユーザーは、退会手続を行った場合、本サービスに関する一切の権利、特典を失うものとします。</li>
    <li class="mb-3">登録ユーザーは、退会手続によっても、自らの投稿した投稿等は削除されないことを予め承諾するものとします。</li>
    <li class="mb-3">退会にあたり、運営者に対して負っている債務が有る場合は、登録ユーザーは、運営者に対して負っている債務の一切について当然に期限の利益を失い、直ちに運営者に対して全ての債務の支払を行わなければなりません。</li>
    <li class="mb-3">退会後の利用者情報の取扱いについては、第11条の規定に従うものとします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第11条（利用者情報の扱い）</h5>
  <ol>
    <li class="mb-3">運営者によるユーザーの利用者情報の取扱いについては、別途運営者のプライバシーポリシーの定めによるものとし、ユーザーはこのプライバシーポリシーに従って運営者がユーザーの利用者情報を扱うことについて同意するものとします。</li>
    <li class="mb-3">運営者は、ユーザーが運営者の提供した情報、データ等を、個人を特定できない形での統計的な情報として、運営者の裁量で、利用及び公開することができるものとし、ユーザーはこれに異議を唱えないものとします。また本サービスの円滑な提供、システム構築、改良、メンテナンスに必要な範囲内で、使用することができるものとします。</li>
    <li class="mb-3">運営者が前項に定める形で投稿等の情報を使用するにあたっては、情報の一部又は氏名表示を省略することができるものとします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第12条（サービスの利用契約上の地位の譲渡等）</h6>
  <ol>
    <li class="mb-3">ユーザーは、運営者の書面による事前の承諾なく、利用契約上の地位または本契約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。</li>
    <li class="mb-3">運営者は、本サービスに関連して生じたユーザーに対するすべての債権について、第三者（以下「債権譲渡先」といいます）に譲渡する場合があります。この場合、ユーザーは、当該債権譲渡につき、あらかじめ異議なく承諾するものとします。</li>
    <li class="mb-3">ユーザーは、前項の場合において、運営者が債権譲渡先に対し、当該債権の請求及び回収に用いるため、ユーザーの氏名、住所、電話番号並びに債権の請求及び回収を行うために必要な一切の情報を提供することを承諾するものとします。</li>
    <li class="mb-3">第２項の場合において、運営者及び債権譲渡先は、ユーザーへの個別の通知又は譲渡承諾の請求等を省略するものとします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第13条（規約・サービスの変更等）</h6>
  <ol>
    <li class="mb-3">運営者は、以下のいずれかに該当する場合、ユーザーの承諾を得ることなく、本規約を変更することができます。</li>
    <ul class="my-2">
      <li>本規約の変更が、ユーザーの一般の利益に適合するとき</li>
      <li>本規約の変更が、契約をした目的に反せず、並びに変更の必要性、変更後の内容の相当性、その他変更に係る事情に照らして合理的なものであるとき</li>
    </ul>
    <li class="mb-3">前項の他、運営者は本サービス上で掲載する方法、その他運営者が別途指定する方法により、事前にユーザーに通知をした上、運営者の判断で本規約を変更することができます。
    運営者は、本規約の変更は、変更後の規約を本サービス上に掲載する方法でユーザーに周知するものとし、当該掲載が行われた時点で、変更後の規約の効力が発するものとします。
    </li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第14条（連絡／通知）</h6>
  <ol>
    <li class="mb-3">本サービスに関する問い合わせその他ユーザーから運営者に対する連絡または通知、及び本規約の変更に関する通知その他運営者からユーザーに対する連絡または通知は、運営者の定める方法で行うものとします。</li>
    <li class="mb-3">運営者が電子メールを通じてユーザーへの連絡または通知を行う場合、当該ユーザーが本サービスに登録した電子メールアドレス宛に電子メールを送信した時点をもって当該連絡または通知がなされたものとみなします。</li>
    <li class="mb-3">運営者が本サービスへの掲示を通じてユーザーへの連絡または通知を行う場合、当該連絡または通知が本サービス上へ掲示された時点をもって、当該連絡または通知がなされたものとみなします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第15条（分離可能性）</h6>
  <p class="pl-2">本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</p>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第16条（免責事項）</h6>
  <ol>
    <li class="mb-3">運営者は、ユーザーの通信や活動に関与しません。万一ユーザー間の紛争があった場合でも、当該ユーザー間で解決するものとし、運営者はその責任を負いません。</li>
    <li class="mb-3">運営者は、本サービスの内容の追加、変更、又は本サービスの中断、終了によって生じたいかなる損害についても、一切責任を負いません。アクセス過多、その他予期せぬ要因で表示速度の低下や障害等が生じた場合も同様とします。</li>
    <li class="mb-3">運営者は、ユーザーによって投稿される情報を監視したり、保存したりする義務を負いません。</li>
    <li class="mb-3">運営者は、ユーザーによって投稿される情報の合法性、道徳性、信頼性、正確性について責任を負いません。ユーザーによって投稿される情報が、当該ユーザーが所属する法人・団体等の内部規則等に適合することについても、責任を負いません。</li>
    <li class="mb-3">運営者は、電気通信事業法（昭和59年法律第86号）第4条に基づき、ユーザーの通信の秘密を守ります。</li>
    <li class="mb-3">運営者は、運営者が次の各号に該当すると判断する場合、ユーザーへの事前告知なしに、ユーザーの通信の秘密にかかわる情報を閲覧、開示、非公開もしくは削除できるものとします。</li>
    <ul class="my-2">
      <li>本サービスの技術的不具合の原因を解明し、解消するため必要な場合</li>
      <li>裁判所や警察などの公的機関から、法令に基づく正式な照会を受けた場合</li>
      <li>本利用規約に違反する行為又はそのおそれのある行為が行われ、投稿等の情報の内容を確認する必要が生じたと運営者が判断した場合</li>
      <li>人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があると運営者が判断した場合</li>
      <li>その他本サイトを適切に運営するための必要が生じた場合
    </ul>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第17条（損害賠償）</h6>
  <ol>
    <li class="mb-3">ユーザーによる本規約違反行為その他本サービスの利用に起因して、運営者に直接又は間接の損害が生じた場合（当該行為が原因で、運営者が第三者から損害賠償請求その他の請求を受けた場合を含みます）、ユーザーは、運営者に対し、その全ての損害（弁護士等専門家費用及び運営者において対応に要した人件費相当額を含みます）を賠償しなければなりません。</li>
    <li class="mb-3">本サービスの利用に関連してユーザーが損害を被り、運営者がこれを賠償する責任を負う場合であっても、運営者は運営者の故意または重大な過失による損害に限りこれを賠償する責任を負います。</li>
    <li class="mb-3">本サービスの利用に関連してユーザーが損害を被り、運営者がこれを賠償する責任を負う場合であっても、運営者は、ユーザーに現実に発生した直接かつ通常の損害に限り、これを賠償する責任を負うものとし、特別の事情から生じた損害（損害の発生を予見し又は予見し得た場合を含みます）については、責任を負わないものとします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第18条（準拠法及び管轄裁判所）</h6>
  <ol>
    <li class="mb-3">本規約およびサービスの利用契約上の準拠法は日本法とします。</li>
    <li class="mb-3">本規約またはサービス利用契約に起因し、または関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
  </ol>
</div>

<div class="pt-5 text-right">
  2021年2月1日制定<br>
</div>