<h4 class="mb-4 mr-0 pr-0 text-center">用語</h4>
<% if false %>
<div class="alert alert-info rounded" role="alert">
  <div class="py-2 px-2 row">
    <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-0">
      <h6><a href="#terminology-a">あ行</a></h6>
      <ul>
        <li class="list-unstyled small"><a href="#terminology-art">ART</a></li>
        <li class="list-unstyled small"><a href="#terminology-ah">アシステッドハッチング</a></li>
        <li class="list-unstyled small"><a href="#terminology-amh">AMH</a></li>
        <li class="list-unstyled small"><a href="#terminology-hmg">hMG</a></li>
        <li class="list-unstyled small"><a href="#terminology-hcg">hCG</a></li>
        <li class="list-unstyled small"><a href="#terminology-e2">E2</a></li>
        <li class="list-unstyled small"><a href="#terminology-fsh">FSH</a></li>
        <li class="list-unstyled small"><a href="#terminology-lh">LH</a></li>
        <li class="list-unstyled small"><a href="#terminology-lhsurge">LHサージ</a></li>
        <li class="list-unstyled small"><a href="#terminology-luteum">黄体</a></li>
        <li class="list-unstyled small"><a href="#terminology-lutealphase">黄体期</a></li>
        <li class="list-unstyled small"><a href="#terminology-ohss">OHSS</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-0">
      <h6><a href="#terminology-a">か行</a></h6>
      <ul>
        <li class="list-unstyled small"><a href="#terminology-pituitarygland">下垂体</a></li>
        <li class="list-unstyled small"><a href="#terminology-clomiphene">クロミフェン/クロミッド</a></li>
        <li class="list-unstyled small"><a href="#terminology-cervicalmucus">頸管粘液</a></li>
        <li class="list-unstyled small"><a href="#terminology-primordialfollicle">原始卵胞</a></li>
        <li class="list-unstyled small"><a href="#terminology-icsi">顕微授精(ICSI)</a></li>
        <li class="list-unstyled small"><a href="#terminology-imsi">顕微授精(IMSI)</a></li>
        <li class="list-unstyled small"><a href="#terminology-antispermantibody">抗精子抗体</a></li>
        <li class="list-unstyled small"><a href="#terminology-gonadotropin">ゴナドトロピン</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-0">
      <h6><a href="#terminology-a">さ行</a></h6>
      <ul>
        <li class="list-unstyled small"><a href="#terminology-sairan">採卵</a></li>
        <li class="list-unstyled small"><a href="#terminology-cl">CL</a></li>
        <li class="list-unstyled small"><a href="#terminology-uterinefibroid">子宮筋腫</a></li>
        <li class="list-unstyled small"><a href="#terminology-uterineadenomyosis">子宮腺筋症</a></li>
        <li class="list-unstyled small"><a href="#terminology-endometrium">子宮内膜</a></li>
        <li class="list-unstyled small"><a href="#terminology-endometriosis">子宮内膜症</a></li>
        <li class="list-unstyled small"><a href="#terminology-endometrialpolyp">子宮内膜ポリープ</a></li>
        <li class="list-unstyled small"><a href="#terminology-gnrhagonist">GnRHアゴニスト</a></li>
        <li class="list-unstyled small"><a href="#terminology-gnrhantagonist">GnRHアンタゴニスト</a></li>
        <li class="list-unstyled small"><a href="#terminology-largestfollicle">主席卵胞</a></li>
        <li class="list-unstyled small"><a href="#terminology-fertilization">受精</a></li>
        <li class="list-unstyled small"><a href="#terminology-short">ショート法</a></li>
        <li class="list-unstyled small"><a href="#terminology-aih">人工授精</a></li>
        <li class="list-unstyled small"><a href="#terminology-varicocele">精索静脈瘤</a></li>
        <li class="list-unstyled small"><a href="#terminology-asthenozoospermia">精子無力症</a></li>
        <li class="list-unstyled small"><a href="#terminology-proliferativephase">増殖期</a></li>
        <li class="list-unstyled small"><a href="#terminology-stepup">ステップアップ</a></li>
        <li class="list-unstyled small"><a href="#terminology-gonadotropichormone">性腺刺激ホルモン</a></li>
        <li class="list-unstyled small"><a href="#terminology-cyclophenyl">セキソビット</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-0">
      <h6><a href="#terminology-a">た行</a></h6>
      <ul>
        <li class="list-unstyled small"><a href="#terminology-tese">TESE</a></li>
        <li class="list-unstyled small"><a href="#terminology-ivf">体外受精</a></li>
        <li class="list-unstyled small"><a href="#terminology-pcos">PCOS</a></li>
        <li class="list-unstyled small"><a href="#terminology-implantation">着床</a></li>
        <li class="list-unstyled small"><a href="#terminology-frozensperm">凍結精子</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-0">
      <h6><a href="#terminology-a">な行</a></h6>
      <ul>
        <li class="list-unstyled small"><a href="#terminology-fertility">妊孕性</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-0">
      <h6><a href="#terminology-a">は行</a></h6>
      <ul>
        <li class="list-unstyled small"><a href="#terminology-et">胚移植(ET)</a></li>
        <li class="list-unstyled small"><a href="#terminology-bt">胚盤胞移植(BT)</a></li>
        <li class="list-unstyled small"><a href="#terminology-ovulation">排卵</a></li>
        <li class="list-unstyled small"><a href="#terminology-ovulationinduction">排卵誘発</a></li>
        <li class="list-unstyled small"><a href="#terminology-femara">フェマーラ/レトロゾール</a></li>
        <li class="list-unstyled small"><a href="#terminology-hoonertest">フーナーテスト</a></li>
        <li class="list-unstyled small"><a href="#terminology-flareup">フレアアップ</a></li>
        <li class="list-unstyled small"><a href="#terminology-p4">P4･プロゲステロン</a></li>
        <li class="list-unstyled small"><a href="#terminology-prl">プロラクチン</a></li>
        <li class="list-unstyled small"><a href="#terminology-secretionperiod">分泌期</a></li>
        <li class="list-unstyled small"><a href="#terminology-oligospermia">乏精子症</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-0">
      <h6><a href="#terminology-a">ら行</a></h6>
      <ul>
        <li class="list-unstyled small"><a href="#terminology-follicle">卵胞</a></li>
        <li class="list-unstyled small"><a href="#terminology-follicularphase">卵胞期</a></li>
        <li class="list-unstyled small"><a href="#terminology-long">ロング法</a></li>
      </ul>
    </div>
  </div>
</div>
<% end %>
<div class="box26-2">
  <div class="py-4 px-2 row terminology-content" id="terminology-a">
    <span class="box-title">あ</span>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-art">
      <h6 class="mb-3 font-weight-bold">【ART】</h6>
      <p class="pl-3">ART(Assisted Reproductive Technology) = 生殖補助医療。卵巣から卵子を採取し、精子と体外で受精させ(体外受精)、卵管の環境に近い培養液の中で培養し、順調に分割した受精卵(胚)を子宮内に移植する(胚移植)医療。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-ah">
      <h6 class="mb-3 font-weight-bold">【アシステッドハッチング(補助孵化)】</h6>
      <p class="pl-3">AH(Assisted Hatching)。胚盤胞が透明帯とよばれる殻を破って脱出すること(ハッチング)を補助(アシスト)する技術。移植前の胚の透明帯に穴をあけたり、薄くしたりすることで、胚盤胞の脱出を容易にさせ、着床促す。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-amh">
      <h6 class="mb-3 font-weight-bold">【AMH(抗ミュラー管ホルモン)】</h6>
      <p class="pl-3">卵巣の前胞状卵胞など小さな卵胞から分泌されるホルモン。卵巣の中に存在する卵子の数に相関する。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-hmg">
      <h6 class="mb-3 font-weight-bold">【hMG(ヒト閉経ゴナドトロピン)】</h6>
      <p class="pl-3">注射の排卵誘発剤。閉経後の女性の尿から抽出した製剤で、強力な排卵刺激作用がある。基本的な構成成分は、卵胞刺激ホルモン(FSH) と黄体化ホルモン(LH)で、その割合は製品によって異なる。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-hcg">
      <h6 class="mb-3 font-weight-bold">【hCG(ヒト絨毛性ゴナドトロピン)】</h6>
      <p class="pl-3">妊娠時の子宮の絨毛上皮から分泌されるホルモン。尿による妊娠診断検査薬はこのホルモンをチェックしている。黄体化ホルモン(LH)作用があるため、注射により人工的にLHサージを起こすことにより排卵させたり、黄体機能を賦活する目的で使用される。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-e2">
      <h6 class="mb-3 font-weight-bold">【E2･エストロゲン(卵胞ホルモン)】</h6>
      <p class="pl-3">卵巣から分泌される女性ホルモンの一つ。頸管粘液の分泌や子宮内膜を厚くする作用がある。卵胞の成長に伴い増加する。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-fsh">
      <h6 class="mb-3 font-weight-bold">【FSH(卵胞刺激ホルモン)】</h6>
      <p class="pl-3">卵巣を刺激し、卵胞の発育を促進するホルモン。卵胞ホルモン(エストロゲン)の分泌を促す。注射の排卵誘発剤に使用される。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-lh">
      <h6 class="mb-3 font-weight-bold">【LH(黄体化ホルモン)】</h6>
      <p class="pl-3">卵巣を刺激して、卵子の成熟・排卵を促すホルモン。このホルモンの急激な増加(LHサージ)が引き金となり、排卵が起きる。また、排卵後の卵胞を黄体に変え、黄体ホルモン(プロゲステロン)を分泌させる。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-lhsurge">
      <h6 class="mb-3 font-weight-bold">【LHサージ】</h6>
      <p class="pl-3">卵胞が成長し卵胞ホルモンが分泌され、排卵が近づいた時、下垂体から黄体化ホルモン(LH)が急激にかつ大量に放出されること。これが排卵の直接的な引き金となる。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-luteum">
      <h6 class="mb-3 font-weight-bold">【黄体】</h6>
      <p class="pl-3">排卵した後、卵胞内に顆粒膜細胞や卵胞膜内層細胞が増殖し形成される黄色の内分泌組織。ここから黄体ホルモンが分泌される。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-lutealphase">
      <h6 class="mb-3 font-weight-bold">【黄体期】</h6>
      <p class="pl-3">排卵から次の月経までの期間。黄体ホルモンが分泌され基礎体温は高温期を示す。内膜周期からは分泌期とよばれる期間。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-ohss">
      <h6 class="mb-3 font-weight-bold">【OHSS(卵巣過剰刺激症候群)】</h6>
      <p class="pl-3">排卵誘発剤(特にhMG+hCG注射)によって起きる副作用。卵巣腫大・腹水・乏尿・血液濃縮・血栓など、重症化すれば入院が必要。特に妊娠すると重症化しやすい。</p>
    </div>
  </div>
</div>
<div class="box26-2">
  <div class="py-4 px-2 row" id="terminology-ka">
    <span class="box-title">か</span>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-pituitarygland">
      <h6 class="mb-3 font-weight-bold">【下垂体】</h6>
      <p class="pl-3">脳に存在し、脳の視床下部から指令を受けて、黄体化ホルモン(LH)や卵胞刺激ホルモン(FSH)などの性腺刺激ホルモン(ゴナドトロピン)を分泌する。性腺刺激ホルモンの他、乳汁分泌ホルモン(PRL)や多くのホルモンの分泌・調整をつかさどる。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-clomiphene">
      <h6 class="mb-3 font-weight-bold">【クロミフェン/クロミッド】</h6>
      <p class="pl-3">商品名はクロミッド・セロフェンなど。経口の排卵誘発剤で最も多く使用されている。排卵率は高いが、12周期投与以降では累積妊娠率は増加しない。しかし人工授精施行時には、排卵がある例でも本剤を使用した場合では妊娠率は高くなる。ゴナドトロピンに比較し、多胎は少なく5%前後で約95%は単胎。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-cervicalmucus">
      <h6 class="mb-3 font-weight-bold">【頸管粘液】</h6>
      <p class="pl-3">子宮頸部の頸管腺から分泌される粘液。排卵が近づくとエストロゲンの作用で頸管粘液が分泌され、精子をスムーズに子宮内に入れる働きをしている。排卵時におりものが増えるのはこの頸管粘液のためである。しかし分泌が悪い場合は不妊の原因となる。排卵の予測にも使用される。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-primordialfollicle">
      <h6 class="mb-3 font-weight-bold">【原始卵胞】</h6>
      <p class="pl-3">女性が生まれた時から卵巣の中に持っている原始生殖細胞などをかこむ直径20umの袋。これが将来成熟して成熟卵胞となり、その中の卵子を排卵する。出生時には100〜200万個あるが、40歳前後では2〜3万個まで減少する。卵子は出生後には新たに作られることがなく消費される一方であり、精子が出生後にも新たに産出されることとは対照的である。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-icsi">
      <h6 class="mb-3 font-weight-bold">【顕微授精(ICSI)】</h6>
      <p class="pl-3">精子の数が非常に少ない場合、通常の体外受精で受精しない受精障害などが適応となる。いくつか方法があるが、一番行われているのはCSI(イクシー)とよばれている方法で、卵細胞質内に顕微鏡下で細いガラス管に吸引した1匹の精子を卵の中に注入し受精させる方法である。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-imsi">
      <h6 class="mb-3 font-weight-bold">【顕微授精(IMSI)】</h6>
      <p class="pl-3">精子の数が非常に少ない場合、通常の体外受精で受精しない受精障害などが適応となる。IMSI（イムジー）とは形態良好精子を選択して顕微授精する方法。通常の顕微授精（200倍）とは異なり、光学顕微鏡の限界に近い高倍率（1000倍：デジタルズーム6000倍）で精子形態を観察し良好精子を選別する技術。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-antispermantibody">
      <h6 class="mb-3 font-weight-bold">【抗精子抗体】</h6>
      <p class="pl-3">精子に対する抗体。この中で、運動精子の細胞の表面の抗原と反応する抗体が不妊と関連がある。男女ともにみられる。人工授精では妊娠の可能性が低く、体外受精になることが多い。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-gonadotropin">
      <h6 class="mb-3 font-weight-bold">【ゴナドトロピン】</h6>
      <p class="pl-3">性腺刺激ホルモンのこと。下垂体から分泌されるLHおよびFSHと胎盤から分泌されるhCGの3種がある。遺伝子組み換えによるFSHが開発され、外国では排卵誘発剤としてhMG製剤の代わりに使用されている。</p>
    </div>
  </div>
</div>
<div class="box26-2">
  <div class="py-4 px-2 row" id="terminology-sa">
    <span class="box-title">さ</span>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-sairan">
      <h6 class="mb-3 font-weight-bold">【採卵】</h6>
      <p class="pl-3">体外受精の時、卵子を卵巣から体外に取り出すこと。方法は膣のほうから経腟超音波で卵胞を確認し、針を刺して卵胞液と卵子を吸引する。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-cl">
      <h6 class="mb-3 font-weight-bold">【CL(クリニック)】</h6>
      <p class="pl-3">Clinic(クリニック)の略称。ネット上の治療当事者間でクリニックのことをしばしばこのように呼ぶ。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-uterinefibroid">
      <h6 class="mb-3 font-weight-bold">【子宮筋腫】</h6>
      <p class="pl-3">子宮にできるこぶ状の良性腫瘍。 30歳以上の女性では5人に1人が持っているといわれている。発生原因は不明。筋腫のできる場所により漿膜下筋腫、粘膜下筋腫、筋層内筋腫とよばれている。女性ホルモンで増大する。閉経後は縮小する。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-uterineadenomyosis">
      <h6 class="mb-3 font-weight-bold">【子宮腺筋症】</h6>
      <p class="pl-3">子宮体部に発生した子宮内膜症。子宮全体がびまん性に腫大しており、正常筋層との境界は不明瞭である。過多月経や月経痛、不妊症、流産の原因になる。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-endometrium">
      <h6 class="mb-3 font-weight-bold">【子宮内膜】</h6>
      <p class="pl-3">子宮体部の内側を覆う粘膜。受精卵が着床する部位。通常、毎月周期的変化を起こし、排卵頃には10m程度の厚さに増殖するが、排卵後に受精卵が着床しなければ厚くなった子宮内膜が剥がれて月経となる。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-endometriosis">
      <h6 class="mb-3 font-weight-bold">【子宮内膜症】</h6>
      <p class="pl-3">子宮内膜組織が何らかの原因で、卵巣や腹膜などの他の組織で増殖する疾患。月経痛、性交痛、排便痛などの症状がある。骨盤内の癒着を生じる結果、不妊症の原因になると考えられている。卵巣に発生した場合には茶色のチョコレート様の血液が貯留することからチョコレート囊胞ともよばれる。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-endometrialpolyp">
      <h6 class="mb-3 font-weight-bold">【子宮内膜ポリープ】</h6>
      <p class="pl-3">子宮内膜の部分的な増殖により発生する。この存在は受精卵の着床障害を起こし、不妊症の原因になっている可能性もある。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-gnrhagonist">
      <h6 class="mb-3 font-weight-bold">【GnRHアゴニスト】</h6>
      <p class="pl-3">(商品名スプレキュア・ブセレキュア・リュープリンなど) 下垂体のFSH、LHのレセプター(受容体)に結合して、一時的にFSH・LHを大量に放出(フレアーアップ)し、その後FSH・LH分泌の抑制(ダウンレギュレーション)を起こす。子宮内膜症や子宮筋腫の治療薬として認可されている。体外受精時の排卵誘発での早期LHサージの抑制効果により早期排卵抑止に使用されている。点鼻薬と注射がある。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-gnrhantagonist">
      <h6 class="mb-3 font-weight-bold">【GnRHアンタゴニスト】</h6>
      <p class="pl-3">(商品名セトロタイド、ガニレストなど) GnRHアゴニストと異なり、一時的に増加するフレアーアップがない。即効性にLHを低下させ、早発LHサージの予防に使用される。作用時間は短時間である。体外受精時に使われる。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-largestfollicle">
      <h6 class="mb-3 font-weight-bold">【主席卵胞】</h6>
      <p class="pl-3">月経後にゴナドトロピンにより成長する複数個の卵胞のうち、排卵に向け成熟をつづける1個の卵胞のこと。残りは閉鎖卵胞になる。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-fertilization">
      <h6 class="mb-3 font-weight-bold">【受精】</h6>
      <p class="pl-3">卵子と精子が結合して、母親の遺伝子と父親の遺伝子が融合すること。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-short">
      <h6 class="mb-3 font-weight-bold">【ショート法】</h6>
      <p class="pl-3">月経開始と同時にGnRHアゴニストという点鼻薬を毎日使用し、同時に排卵誘発剤の注射を投与しながら、排卵コントロールしつつ、採卵するタイミングを合わせる方法。ロング法よりも点鼻薬を使用する期間が短い。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-aih">
      <h6 class="mb-3 font-weight-bold">【人工授精(IUI/AIH)】</h6>
      <p class="pl-3">排卵の時期に、精子を直接子宮内に注入する方法。頸管に注入する方法(ICI)と子宮腔内に注入する方法(IUI)があるが、通常は子宮腔内に注入する人工授精が行われる。また、夫の精子を使用する配偶者間人工授精(AlH)と、無精子症の場合は精子提供者の精子を使用する非配偶者間人工授精(AID)がある。精子は、洗浄、濃縮後、良好な運動精子を選別し、子宮内に注入する。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-varicocele">
      <h6 class="mb-3 font-weight-bold">【精索静脈瘤】</h6>
      <p class="pl-3">精子を運ぶ管である精管の周りの静脈に血液がうっ滞または逆流し、静脈が瘤(こぶ)のような状態になる病気。血液の停滞のため精巣の温度が上昇する結果、精子数の減少や精子の運動能力の低下などが生じる。男性不妊の原因の一つ。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-asthenozoospermia">
      <h6 class="mb-3 font-weight-bold">【精子無力症】</h6>
      <p class="pl-3">運動する精子が40%未満の状態をいう。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-proliferativephase">
      <h6 class="mb-3 font-weight-bold">【増殖期】</h6>
      <p class="pl-3">卵胞ホルモン(エストロゲン)の作用で子宮内膜が厚くなる期間。ホルモン周期では卵胞期と一致する。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-stepup">
      <h6 class="mb-3 font-weight-bold">【ステップアップ】</h6>
      <p class="pl-3">不妊治療における治療の進め方の一つで、不妊検査の後、自然に近い方法から治療を開始し、一定の期間で妊娠が成立しない場合に、妊娠の確率を高
      めるために治療内容を段階的に高度化していく方法。タイミング指導から始まり、排卵誘発、人工授精、体外受精へと進んでいく。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-gonadotropichormone">
      <h6 class="mb-3 font-weight-bold">【性腺刺激ホルモン】</h6>
      <p class="pl-3">精巣や卵巣を刺激して、卵胞ホルモンや男性ホルモンなどの性腺ホルモンを分泌させるホルモン。下垂体性ゴナドトロピンは視床下部から分泌されるGnRHにより調節される。hMG製剤、FSH製剤、hCG製剤として使用されている。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-cyclophenyl">
      <h6 class="mb-3 font-weight-bold">【セキソビット(シクロフェニル)】</h6>
      <p class="pl-3">経口排卵誘発剤。クロミフェンのような頸管粘液の減少や内膜を薄くするなどの副作用がほとんどないが、排卵誘発効果も弱い。</p>
    </div>
  </div>
</div>
<div class="box26-2">
  <div class="py-4 px-2 row" id="terminology-ta">
    <span class="box-title">た</span>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-tese">
      <h6 class="mb-3 font-weight-bold">【TESE(精巣内精子回収法)】</h6>
      <p class="pl-3">射出精液中に精子が認められない無精子症の場合、精巣の組織中に精子が認められることがあるので、精巣の組織のごく一部を採取し、その中の精子を採取する方法。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-ivf">
      <h6 class="mb-3 font-weight-bold">【体外受精】</h6>
      <p class="pl-3">卵子を採取し、体外で受精させ、受精卵を胚に育てて母体に戻す不妊治療法。両側の卵管が閉鎖している場合、精子の数が少ない場合、一般不妊治療を行っても妊娠しない場合などが適応になる。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-pcos">
      <h6 class="mb-3 font-weight-bold">【多囊胞性卵巣症候群(PCOS)】</h6>
      <p class="pl-3">卵巣に小卵胞が多数存在し、月経異常、ホルモン異常を伴う症候群。hMGなどの排卵誘発剤による卵巣刺激でOHSS(卵巣過剰刺激症候群)になりやすい。黄体化ホルモン(LH)が卵胞刺激ホルモン(FSH)より高値で、男性ホルモンも高い。超音波検査上、卵巣辺縁に多数の小卵胞(ネックレスサイン)を認め、多毛・にきび・肥満などの症状を伴うことがある。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-implantation">
      <h6 class="mb-3 font-weight-bold">【着床】</h6>
      <p class="pl-3">卵管膨大部で受精した受精卵が細胞分裂をくり返し桑実胚となり、さらに胚盤胞になり子宮内膜に進入する。この受精卵と母体との間に結合が成立した状態。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-frozensperm">
      <h6 class="mb-3 font-weight-bold">【凍結精子】</h6>
      <p class="pl-3">人工授精・体外受精・顕微授精を目的に、凍結・保存した精子。精子の凍結後、融解の時に約半数は死滅する可能性がある。死滅する精子は元々、質のよくない精子が多いとされており、凍結・融解により異常精子を淘汰している可能性がある。</p>
    </div>
  </div>
</div>
<div class="box26-2">
  <div class="py-4 px-2 row" id="terminology-na">
    <span class="box-title">な</span>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-fertility">
      <h6 class="mb-3 font-weight-bold">【妊孕性】</h6>
      <p class="pl-3">生殖能力、受胎能力のこと。生殖可能な状態あるいは生殖能力を保有した状態。</p>
    </div>
  </div>
</div>
<div class="box26-2">
  <div class="py-4 px-2 row" id="terminology-ha">
    <span class="box-title">は</span>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-et">
      <h6 class="mb-3 font-weight-bold">【胚移植(ET)】</h6>
      <p class="pl-3">体外受精あるいは顕微授精で受精させ、育った胚を母体(子宮内あるいは卵管内)に戻すこと。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-bt">
      <h6 class="mb-3 font-weight-bold">【胚盤胞移植(BT)】</h6>
      <p class="pl-3">体外受精・胚移植において、採卵後5〜6日まで体外で培養し、胚盤胞にまで分裂が進んだ胚を子宮の中に戻すこと。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-ovulation">
      <h6 class="mb-3 font-weight-bold">【排卵】</h6>
      <p class="pl-3">卵子が卵巣から排出されること。卵子は卵巣の中で、卵胞に包まれるような形でゴナドトロピンにより成熟し、月経開始日から約2週間後にLHサージにより、卵胞が破れ、卵子が排出される。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-ovulationinduction">
      <h6 class="mb-3 font-weight-bold">【排卵誘発】</h6>
      <p class="pl-3">薬によって排卵を起こすこと。主に排卵障害がある場合に行われる。自然排卵がある場合でも、人工授精を行う際に使用すると妊娠率が高まる。その反応には個人差があり、また同一人でも周期により反応が異なることがある。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-femara">
      <h6 class="mb-3 font-weight-bold">【フェマーラ(レトロゾール)】</h6>
      <p class="pl-3">アロマターゼ阻害薬の商品名。乳がんの治療薬として認可されている薬剤。現在、不妊症には保険が適用されない。アロマターゼとは、副腎でコレステロールから作られる男性ホルモンの一つであるアンドロステンジオンをエストロゲンに変換させる酵素である。このアロマターゼを阻害することにより、体内のエストロゲン値が低下するため、卵胞刺激ホルモン(FSH)が卵巣を刺激し、排卵誘発の効果がある。多嚢胞性卵巣症候群(PCOS)でクロミフェンの効果がない場合にも排卵効果が認められる。クロミフェンのような内膜や頸管粘液への悪影響がない。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-hoonertest">
      <h6 class="mb-3 font-weight-bold">【フーナーテスト(性交後検査)】</h6>
      <p class="pl-3">排卵日または排卵日直前に性交し、性交後3〜5時間後くらいで、頸管及び子宮内へ運動精子が上昇しているかを調べる検査。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-flareup">
      <h6 class="mb-3 font-weight-bold">【フレアーアップ】</h6>
      <p class="pl-3">GnRHアゴニスト投与の初期に一時的にゴナドトロピンが急激な増加をすること。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-p4">
      <h6 class="mb-3 font-weight-bold">【P4・プロゲステロン(黄体ホルモン)】</h6>
      <p class="pl-3">卵巣の黄体や胎盤から分泌される女性ホルモンの一つ。排卵後に分泌が増加する。排卵後の体温上昇や子宮内膜を分泌期内膜に変える作用がある。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-prl">
      <h6 class="mb-3 font-weight-bold">【プロラクチン(PRL)】</h6>
      <p class="pl-3">下垂体から分泌され、乳腺を刺激し、乳汁分泌を促すホルモン。妊娠時に上昇するが、非妊時に高値である場合には、排卵障害を引き起こす他、卵子質を低下させることがある。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-secretionperiod">
      <h6 class="mb-3 font-weight-bold">【分泌期】</h6>
      <p class="pl-3">排卵後黄体から黄体ホルモンが分泌され、受精卵が着床しやすい内膜の状態になっている期間。ホルモン周期では黄体期とよばれる時期。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-oligospermia">
      <h6 class="mb-3 font-weight-bold">【乏精子症】</h6>
      <p class="pl-3">精子が少なく、1mL中に1500万個未満の状態(WHO2010).</p>
    </div>
  </div>
</div>
<div class="box26-2">
  <div class="py-4 px-2 row" id="terminology-ra">
    <span class="box-title">ら</span>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-follicle">
      <h6 class="mb-3 font-weight-bold">【卵胞】</h6>
      <p class="pl-3">卵子が入っている袋。卵巣内にはたくさんの卵胞が存在し、卵胞刺激ホルモン(FSH)の作用でその中の一つが成熟し排卵する。出生時に100〜200万個ある卵胞の内、女性の一生で400〜500個だけが排卵され、残りは自然消失する。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-follicularphase">
      <h6 class="mb-3 font-weight-bold">【卵胞期】</h6>
      <p class="pl-3">月経から排卵までの期間。下垂体から分泌されるゴナドトロピンの作用により卵胞が成長する時期。基礎体温は低温期を示す。子宮内膜周期では増殖期に相当する。</p>
    </div>
    <div class="col-lg-6 mb-5 terminology-content-inner" id="terminology-long">
      <h6 class="mb-3 font-weight-bold">【ロング法】</h6>
      <p class="pl-3">体外受精をする時の調節卵巣刺激法の一つ。点鼻薬(GnRHアゴニスト)を採卵前周期の黄体期中期(月経21日目頃)からhCG投与日まで毎日噴霧して自発排卵を防ぎ、採卵周期の月経3日目以降に連日hMGを注射し、卵子を育てていく方法。</p>
    </div>
  </div>
</div>