
<h3 class="pb-4">サービス利用規約</h3>
<p>本利用規約（以下、本規約）には、本サービスの提供条件及び本サービスの運営者と登録ユーザーの皆様との間の権利義務関係が定められています。本サービスの利用に際しては、本規約の全文をお読みいただいた上で、本規約に同意いただく必要があります。</p>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第1条（適用）</h6>
  <ol>
    <li class="mb-2">本規約は、REPOCO（以下、本サービス）の提供条件及び本サービスの利用に関する運営者と登録ユーザーとの間の権利義務関係を定めることを目的とし、登録ユーザーと運営者との間の本サービスの利用にかかわる一切の関係に適用されます。</li>
    <li class="mb-3">本規約の内容とその他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第2条（定義）</h6>
  <p> 本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。</p>
  <ol>
    <li class="mb-3">「サービス利用規約」とは、本規約および運営者と登録ユーザーの間で締結する、本サービスの利用規約を意味します。</li>
    <li class="mb-3">「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、またそれらの権利につき登録等を出願する権利を含みます。）を意味します。</li>
    <li class="mb-3">「運営者」とは、REPOCOの運営者を意味します。</li>
    <li class="mb-3">「登録ユーザー」とは、第3条（登録）に基づいて本サービスの利用者としての登録がなされた個人または法人を意味します。</li>
    <li class="mb-3">「本サービス」とは、REPOCO（レポコ）という名称のサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第3条（登録）</h6>
  <ol>
    <li class="mb-3">本サービスの利用を希望するもの（以下「登録希望者」といいます。）は、本規約を尊守することに同意し、かつ運営者の定める一定の情報（以下「登録事項」といいます。）を運営者の定める方法で運営者に提供することにより、運営者に対し、本サービスの利用を申請することができます。</li>
    <li class="mb-3">運営者は、登録申請者が以下の各号のいずれかの事由に該当する場合は、登録及び再登録を拒否することがあり、またその理由について一切開示義務を負いません。</li>
    <ol>
      <li class="mb-3">運営者に提供した登録事項の全部または一部につき虚偽、誤記又は記載漏れがあった場合</li>
      <li class="mb-3">反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、または資金提供その他を通じて反社会勢力等の維持、運営もしくは経営に協力もしくは関与する等反社会的勢力等の何らかの交流もしくは関与を行っていると運営者が判断した場合</li>
      <li class="mb-3">登録希望者が過去運営者との契約に違反した者またはその関係者であると運営者が判断した場合</li>
      <li class="mb-3">第9条に定める措置を受けたことがある場合</li>
      <li class="mb-3">その他、運営者が登録を適当でないと判断した場合</li>
    </ol>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第4条（パスワード及びユーザーIDの管理）</h6>
  <ol>
    <li class="mb-3">登録ユーザーは、自己の責任において、本サービスに関するパスワード及びユーザーIDを適切に管理及び保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならないものとします。</li>
    <li class="mb-3">パスワードまたはユーザーIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとし、運営者は一切の責任を負いません。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第5条（禁止事項）</h6>
  <p>登録ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当する行為または該当すると運営者が判断する行為をしてはなりません。</p>
  <ol>
    <li class="mb-3">法令に違反する行為または犯罪行為に関連する行為</li>
    <li class="mb-3">運営者、本サービスのほかの利用者またはその他の第三者に対する詐欺または脅迫行為</li>
    <li class="mb-3">公序良俗に反する行為</li>
    <li class="mb-3">運営者、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為</li>
    <li class="mb-3">運営者もしくは他の利用者を不当に差別もしくは誹謗中傷し、他者への不当な差別を助長し、又はその名誉もしくは信用を毀損する行為</li>
    <li class="mb-3">本サービスを通じ、以下に該当し、または該当すると運営者が判断する情報を運営者、他の登録ユーザーまたはその他の第三者に送信する行為または本サービス内の投稿可能な箇所に投稿する行為
      <ul class="my-2">
        <li>差別を助長する表現を含む情報</li>
        <li>過度にわいせつな表現を含む情報</li>
        <li>面識のない異性との出会いを目的とした情報</li>
        <li>過度に暴力的または残虐な表現を含む情報</li>
        <li>薬物の不適切な利用を助長する表現を含む情報</li>
        <li>自殺、自傷行為を助長する表現を含む情報</li>
        <li>他人に不快感を与える表現を含む情報</li>
        <li>反社会的な表現を含む情報</li>
        <li>チェーンメール等の第三者への情報の拡散を求める情報</li>
        <li>コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報</li>
        <li>商業用の広告、宣伝又は勧誘を目的とする情報。ただし、運営者が別に認めたものを除く</li>
        <li>アフィリエイトのリンクを含む情報</li>
        <li>その他運営者が不適切と判断する情報</li>
      </ul>
    </li>
    <li class="mb-3">登録ユーザー自身または第三者の住所、電話番号、メールアドレス等の個人が特定される連絡先を、本サービス内のユーザー全体に公開される箇所に投稿する行為</li>
    <li class="mb-3">本サービスのネットワークまたはシステム等に過度な負荷を掛ける行為</li>
    <li class="mb-3">本サービスの運営を妨害するおそれのある行為</li>
    <li class="mb-3">運営者のネットワークまたはシステム等に不正にアクセスし、または不正なアクセスを試みる行為</li>
    <li class="mb-3">第三者に成りすます行為</li>
    <li class="mb-3">本サービスの他の利用者のIDまたはパスワードを利用する行為</li>
    <li class="mb-3">本サービスの他の利用者の情報の収集</li>
    <li class="mb-3">本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為</li>
    <li class="mb-3">反社会的勢力への利益供与</li>
    <li class="mb-3">前各号の行為を直接または間接に惹起し、また容易にする行為</li>
    <li class="mb-3">その他、運営者が不適切と判断する行為</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第6条（本サービスの停止等）</h6>
  <ol>
    <li class="mb-3">運営者は、以下のいずれかに該当する場合には、登録ユーザーに事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。</li>
    <ol class="my-2">
      <li>本サービスに係るコンピューター・システムの点検または保守作業を緊急に行う場合</li>
      <li>コンピューター、通信回線等が事故により停止した場合</li>
      <li>地震、落雷、火災、風水害、テロ、パンデミック(感染症の感染拡大に伴う行動制限など)、天災地変などの不可抗力により本サービスの運営ができなくなった場合</li>
      <li>その他、運営者が停止または中断を必要と判断した場合</li>
    </ol>
    <li class="mb-3">運営者は、本条に基づき運営者が行った措置に基づき登録ユーザーに生じた損害について一切の責任を負いません。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第7条（投稿データに関する権利帰属）</h6>
  <ol>
    <li class="mb-3">登録ユーザーは、登録ユーザー自身の責任において本サービスを利用するものとし、本サービスを利用してなされた一切の行為及びその結果について一切の責任を負います。</li>
    <li class="mb-3">本サービスを利用して登録ユーザーが投稿した情報に関する責任は、登録ユーザー自身にあります。運営者は登録ユーザーが本サービスを利用して投稿した情報の内容について、一切の責任を負いません。</li>
    <li class="mb-3">本サービスで投稿された記事、ログ等の文面および画像等のファイルデータはユーザーに帰属するものとします。ただし、権利を侵さない範囲内において本サービスの広報やその他活動に利用する場合があります。</li>
    <li class="mb-3">登録ユーザーは本サービスに投稿する全ての文面、ファイルデータにおいて、
      <ul class="my-2"> 
        <li>他人の名誉を毀損した場合</li>
        <li>プライバシー権を侵害した場合</li>
        <li>許諾なく第三者の個人情報を開示した場合</li>
        <li>著作権法（昭和45年法律第48号）に違反する行為を行った場合</li>
        <li>その他、第三者の権利を侵害した場合</li>
      </ul>
      には、侵害したことによって起こった紛争に関して、該当ユーザーの責任と費用のもとで解決するとともに、運営者は一切の責任を負わないものとします。</li>
    <li class="mb-3">登録ユーザーは、登録ユーザーが本サービスを利用して投稿した情報について運営者に保存義務がないことを認識し、必要な情報については適宜バックアップをとるものとします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第8条（投稿データの掲載について）</h6>
  <ol>
    <li class="mb-3">運営者は、登録ユーザーが投稿したコンテンツについて、ルートドメイン<span class="small">（https://repoco.net または http://repoco.net）</span>のドメイン下 のページに掲載することが不適切であると判断した場合は、事前に通知または催告することなく、ルートドメイン<span class="small">（https://repoco.net または http://repoco.net）</span>のドメイン下 の任意のページから、該当コンテンツを削除または非表示にすることができます。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第9条（登録抹消等）</h6>
  <ol>
    <li class="mb-3">運営者は、登録ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知または催告することなく、当該登録ユーザーについて本サービスの利用を一時的に停止し、または登録ユーザーとしての登録を抹消、もしくはサービス利用契約を解除することができます。</li>
    <ol class="my-2">
      <li>本規約のいずれかの条項に違反した場合</li>
      <li>登録事項に虚偽の事実があることが判明した場合</li>
      <li>支払い停止もしくは支払い不能となり、または破産手続き開始、民事再生手続き開始、会社更生手続き開始、特別清算開始若しくはこれらに類する手続き開始の申し立てがあった場合</li>
      <li>6カ月以上本サービスの利用がない場合</li>
      <li>運営者からの問い合わせその他の回答を求める連絡に対して30日間以上応答がない場合</li>
      <li>第3条第4項各号に該当する場合</li>
      <li>その他、運営者が本サービスの利用、登録ユーザーとしての登録、またはサービスの利用契約の継続を適切でないと判断した場合</li>
    </ol>
    <li class="mb-3">前項各号のいずれかの事由に該当した場合、本規約に違反する行為又はそのおそれのある行為が行われたと信じるに足りる相当な理由があると判断した場合には、当該行為を行った登録ユーザーの本サービスの利用の一時停止、登録ユーザーとしての登録の抹消、サービス利用契約の解除、投稿等の情報の全部もしくは一部の削除、及び公開範囲の変更等を行う場合があります。この場合、登録ユーザーは運営者に対して負っている債務の一切について当然に期限の利益を失い、ただちに運営者に対して全ての債務の支払を行わなければなりません。</li>
    <li class="mb-3">運営者は、本条に基づき運営者が行った行為により登録ユーザーに生じたいかなる損害について一切の責任を負いません。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第10条（退会）</h6>
  <ol>
    <li class="mb-3">登録ユーザーは退会ページより、本サービスから退会し、自己の登録ユーザーとしての登録を抹消することができます。<br><span class="small text-muted">（退会手順:&nbsp;&nbsp;(ログイン後)マイページ→プロフィール設定→登録情報ページにある登録情報をクリック→登録設定→退会）</span></li>
    <li class="mb-3">退会にあたり、運営者に対して負っている債務が有る場合は、登録ユーザーは、運営者に対して負っている債務の一切について当然に期限の利益を失い、直ちに運営者に対して全ての債務の支払を行わなければなりません。</li>
    <li class="mb-3">退会後の利用者情報の取扱いについては、第11条の規定に従うものとします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第11条（利用者情報の扱い）</h5>
  <ol>
    <li class="mb-3">運営者による登録ユーザーの利用者情報の取扱いについては、別途運営者の<a href="/privacy">プライバシーポリシー</a>の定めによるものとし、登録ユーザーはこのプライバシーポリシーに従って運営者が登録ユーザーの利用者情報を扱うことについて同意するものとします。</li>
    <li class="mb-3">運営者は、登録ユーザーが運営者の提供した情報、データ等を、個人を特定できない形での統計的な情報として、運営者の裁量で、利用及び公開することができるものとし、登録ユーザーはこれに異議を唱えないものとします。また本サービスの円滑な提供、システム構築、改良、メンテナンスに必要な範囲内で、使用することができるものとします。</li>
    <li class="mb-3">運営者が前項に定める形で投稿等の情報を使用するにあたっては、情報の一部又は氏名表示を省略することができるものとします。</li>
    <li class="mb-3">登録ユーザーが第三者を本サービスの機能を利用して招待する場合は、当該第三者に対し事前に本サービスに招待する旨を通知し同意を得たものとみなします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第12条（サービスの利用契約上の地位の譲渡等）</h6>
  <ol>
    <li class="mb-3">登録ユーザーは、運営者の書面による事前の承諾なく、利用契約上の地位または本契約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。</li>
    <li class="mb-3">運営者は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びに登録ユーザーの登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、登録ユーザーは、かかる譲渡につき本項において定めあらかじめ同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第13条（規約・サービスの変更等）</h6>
  <ol>
    <li class="mb-3">本規約は、予告なしに変更されることがあります。規約の変更にあたって、運営者が大幅な変更と判断した場合を除いて、ユーザーの皆様に通知をすることはございません。ご利用の際には随時、最新の利用規約をご参照ください。</li>
    <li class="mb-3">変更後の利用規約は、運営者が別途定める場合を除いて、本サービス上に表示した時点より効力を生じるものとします。</li>
    <li class="mb-3">本規約の変更後、登録ユーザーが本サービスを利用した場合または運営者の定める期間内に登録抹消の手続をとらなかった場合には、登録ユーザーは、本規約の変更に同意したものとみなします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第14条（連絡／通知）</h6>
  <ol>
    <li class="mb-3">本サービスに関する問い合わせその他登録ユーザーから運営者に対する連絡または通知、及び本規約の変更に関する通知その他運営者から登録ユーザーに対する連絡または通知は、運営者の定める方法で行うものとします。</li>
    <li class="mb-3">運営者が電子メールを通じて登録ユーザーへの連絡または通知を行う場合、当該登録ユーザーが本サービスに登録した電子メールアドレス宛に電子メールを送信した時点をもって当該連絡または通知がなされたものとみなします。</li>
    <li class="mb-3">運営者が本サービスへの掲示を通じて登録ユーザーへの連絡または通知を行う場合、当該連絡または通知が本サービス上へ掲示された時点をもって、当該連絡または通知がなされたものとみなします。</li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第15条（業務委託）</h6>
  <ol>
    <p class="mb-3">運営者は、利用目的の達成に必要な範囲において、業務委託をする場合があります。業務委託先に対して、利用者情報の取扱いを含む業務を委託します。この場合、かかる業務委託先において利用者情報が適切に扱われるよう監督責任を負うものとします。</p>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第16条（分離可能性）</h6>
  <ol>
    <p class="mb-3">本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</p>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第17条（免責事項）</h6>
  <ol>
    <li class="mb-3">運営者は、登録ユーザーの通信や活動に関与しません。万一登録ユーザー間の紛争があった場合でも、当該ユーザー間で解決するものとし、運営者はその責任を負いません。</li>
    <li class="mb-3">運営者は、本サービスの内容の追加、変更、又は本サービスの中断、終了によって生じたいかなる損害についても、一切責任を負いません。アクセス過多、その他予期せぬ要因で表示速度の低下や障害等が生じた場合も同様とします。</li>
    <li class="mb-3">運営者は、登録ユーザーによって投稿される情報を監視したり、保存したりする義務を負いません。</li>
    <li class="mb-3">運営者は、登録ユーザーによって投稿される情報の合法性、道徳性、信頼性、正確性について責任を負いません。登録ユーザーによって投稿される情報が、当該ユーザーが所属する法人・団体等の内部規則等に適合することについても、責任を負いません。</li>
    <li class="mb-3">運営者は、次に掲げる場合には、当該情報の内容を閲覧したり、保存したり、第三者に開示すること（以下、本項において「閲覧等」といいます）ができるものとします。運営者は、それによって生じたいかなる損害についても、一切責任を負いません。
      <ul class="my-2">
        <li>本サービスの技術的不具合の原因を解明し、解消するため必要な場合</li>
        <li>裁判所や警察などの公的機関から、法令に基づく正式な照会を受けた場合</li>
        <li>本利用規約に違反する行為又はそのおそれのある行為が行われ、投稿等の情報の内容を確認する必要が生じたと運営者が判断した場合</li>
        <li>人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があると運営者が判断した場合</li>
        <li>その他本サイトを適切に運営するための必要が生じた場合
      </ul>
    </li>
  </ol>
</div>

<div class="pt-5">
  <h6 class="pb-2 mb-4">第18条（準拠法及び管轄裁判所）</h6>
  <ol>
    <li class="mb-3">本規約およびサービスの利用契約上の準拠法は日本法とします。なお、本サービスにおいて物品の売買が発生する場合であっても、国際物品売買契約に関する国際連合条約の適用を排除することに合意します。</li>
    <li class="mb-3">本規約またはサービス利用契約に起因し、または関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
  </ol>
</div>
<div class="pt-5 text-right">
  2020年12月1日作成<br>
</div>