<div class="mainview">
  <div class="row">
    <div class="catch col-md">
      <h1>みんなの治療レポートを参考にしよう</h1>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <%= link_to "レポート一覧", reports_path, class:"btn btn-info rounded-pill home-welcome-btn btn-block disabled w-50 mx-auto" %>
    </div>
    <div class="home-top-img col-md">
      <%= image_tag "home/home_top_img.png", alt: "home-top-img", width: "1000px", class: "img-fluid", loading: "lazy" %>
    </div>
  </div>
</div>
