<div class="learn-more">
  <div class="learn-more-head d-flex justify-content-around">
    <div class="learn-more-head-item-active">
      <div class="learn-more-head-item-image">
        <%= image_tag "home/light.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
      </div>
      <div class="learn-more-head-item-label small text-center">
        <small>FAQ</small>
      </div>
    </div>
    <div class="learn-more-head-item">
      <div class="learn-more-head-item-image">
        <%= image_tag "home/writing_hand.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
      </div>
      <div class="learn-more-head-item-label small text-center">
        <small>作り方</small>
      </div>
    </div>
    <div class="learn-more-head-item">
      <div class="learn-more-head-item-image">
        <%= image_tag "home/analysis.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
      </div>
      <div class="learn-more-head-item-label small text-center">
        <small>探し方</small>
      </div>
    </div>
    <div class="learn-more-head-item">
      <div class="learn-more-head-item-image">
        <%= image_tag "home/bar_chart.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
      </div>
      <div class="learn-more-head-item-label small text-center">
        <small>統計</small>
      </div>
    </div>
  </div>

  <div class="learn-more-body">
    <div class="learn-more-body-inner">
      <div class="learn-more-body-inner-content">
        <div class="learn-more-body-inner-content-head">
          <h4 class="m-0">FAQ</h4>
        </div>
        <hr>
        <div class="learn-more-body-inner-content-body">
          <div class="learn-more-body-inner-content-body-item">
            <div class="q-title">
              <h5><span class="question-brand-color">Q</span>退会方法は？</h5>
            </div>
            <div class="q-answer">
              <p>マイページの「ユーザー設定」> 「各種設定」タブ内の&nbsp;治療/基本/登録情報のいずれかの設定/変更をタップし編集画面に入ると、「退会処理」のタブがありますので、そちらから退会できます。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>