<div class="row">
  <div class="offset-lg-2 col-lg-8 terms-h">
    <div class="py-4 px-2">
      <i data-feather="chevron-left" class="feather-icon-style1" style="color:#56B5AB"></i><%= link_to '戻る', 'javascript:history.back()' %>
    </div>
    <div class="card mt-2 mb-3 mx-2 p-md-5 p-3 small">
      <h3 class="pb-5">プライバシーポリシー</h3>
        <p>Qrunch運営チーム（以下「運営チーム」といいます。）は、提供するサービス（以下「本サービス」といいます。）における、ユーザーについての個人情報を含む利用者の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。</p>
        
      <div class="pt-5">
        <h5 class="pb-2 mb-4">1. 収集する利用者情報及び収集方法</h5>
          <p>本ポリシーにおいて、「利用者情報」とは、ユーザーの識別に係る情報、ユーザーの投稿データ及びアップロードデータ、通信サービス上の行動履歴、その他ユーザーのスマートフォン、PC等の端末においてユーザーまたはユーザーの端末に関連して生成または蓄積された情報であって、本ポリシーに基づき運営チームが収集するものを意味するものとします。</p>
          <p>本サービスにおいて運営チームが収集する利用者情報は、その収集方法に応じて、以下のようなものになります。</p>
          <ul>
            <h6 class="pt-3 pb-2 mb-2">(1)&nbsp;&nbsp;ユーザーからご提供いただく情報</h6>
              <p>ユーザーが本サービスを利用するために、ご提供いただく情報は以下の通りです。</p>
              <ul class="mb-3">
                <li>メールアドレス</li>
                <li>ユーザープロフィール</li>
                <li>その他運営チームが定める入力フォームにユーザーが入力する情報</li>
              </ul>
            <h6 class="pt-3 pb-2 mb-2">(2)&nbsp;&nbsp;ユーザーが本サービスを利用するにあたって、運営チームが収集する情報</h6>
              <ul class="mb-3">
                <li>端末情報</li>
                <li>ログ情報</li>
                <li>Cookie及び匿名ID</li>
                <li>ユーザーが所有するサイトの情報</li>
                <li>その他本サービスの機能により収集可能な一連の情報</li>
              </ul>
          </ul>
      </div>

      <div class="pt-5">
        <h5 class="pb-2 mb-4">2. 利用目的</h5>
          <p>2-1. 利用者情報は、2-2に定めるとおり本サービスの提供のために利用されるほか、2-3に定めるとおり、その他の目的にも利用される場合があります。</p>
          <p>2-2. 本サービスのサービス提供にかかわる利用者情報の具体的な利用目的は以下の通りです。</p>
          <ol>
            <li>本サービスに関するご案内、お問い合わせ等への対応のため</li>
            <li>本サービスに関する当社の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対応するため</li>
            <li>本サービスに関する規約等の変更などを通知するため</li>
            <li>本サービス全体の統計情報としてデータを解析するため</li>
            <li>上記の利用目的に付随する利用目的のため</li>
          </ol>
      </div>

      <div class="pt-5">
        <h5 class="pb-2 mb-4">3. 通知・公表または同意取得の方法、利用中止要請の方法</h5>
          <p>3-1. 以下の利用者情報については、その収集が行われる前にユーザーの同意を得るものとします。</p>
          <ul class="pb-3">
            <ul>
              <li>位置情報</li>
            </ul>
          </ul>
          <p>3-2. ユーザーは、本サービスの所定の設定を行うことにより、利用者情報の全部または一部についてその利用の停止を求めることができ、この場合、運営チームは速やかに運営チームの定めるところに従い、その利用を停止します。なお利用者情報の項目によっては、その収集または利用が本サービスの前提となるため、運営チーム所定の方法により本サービスを退会した場合に限り、運営チームはその収集を停止します。</p>
      </div>

      <div class="pt-5">
        <h5 class="pb-2 mb-4">4. 第三者提供</h5>
          <p>運営チームは、利用者情報のうち、個人情報については、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめユーザーの同意を得ないで、第三者に提供しません。但し、次に掲げる場合はこの限りではありません。</p>
          <ol>
            <li>運営チームが利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</li>
            <li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
            <li>第4項の定めに従って、情報収集モジュール提供者へ個人情報が提供される場合</li>
            <li>国の機関もしくは地方公共団体またはその委託を受けたものが法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることによって当該事務の遂行に支障を及ぼす恐れがある場合</li>
            <li>その他、個人情報保護法その他の法令で認められる場合</li>
          </ol>
      </div>

      <div class="pt-5">
        <h5 class="pb-2 mb-4">5. お問い合わせ窓口</h5>
          <p class="pb-3">ご意見、ご質問、苦情のお申し出その他利用者情報の取扱いに関するお問い合わせは、下記窓口までお願い致します。</p>
          <center><button class="btn btn-outline-primary btn-raised"><a href="https://forms.gle/ZJW7qnkX4PLN7Lkc9" target="_blank" class="link">お問い合わせ</a>&nbsp;<i data-feather="send" class="feather-icon-style1"></i></button></center>
      </div>

      <div class="pt-5">
        <h5 class="pb-2 mb-4">6. プライバシーポリシーの変更手続</h5>
          <p>運営チームは、利用者情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本ポリシーを変更することがあります。<br>
          本ポリシーの変更にあたって、運営チームが大幅な変更と判断した場合を除いて、ユーザーの皆様に通知をすることはございません。ご利用の際には随時、最新のプライバシーポリシーをご参照ください。</p>
      </div>
      <div class="py-5 px-0">
        <i data-feather="chevron-left" class="feather-icon-style1" style="color:#56B5AB"></i><%= link_to '戻る', 'javascript:history.back()' %>
      </div>
    </div>
  </div>
</div>