<div class="container-fluid">
  <div class="row mt-0">
    <div class="col-lg-6 m-0 p-5 mb-4 d-flex align-items-center justify-content-center about-first-area">
      <div class="row">
        <div class="col-12 mb-5 text-center">
          <%= image_tag "home/logo.png", alt: "logo", width: "280px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="col-12 text-center">
          <%= link_to root_path, { title: "レポコ一覧", style: "text-decoration: none;" } do %>
            <button class="brand_btn">レポコ一覧</button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 m-0 py-5 px-3 color-area d-flex align-items-center justify-content-center about-first-area">
      <div>
        <h2 class="mb-4 d-none d-md-block">のこす&nbsp;&nbsp;&nbsp;みえる&nbsp;&nbsp;&nbsp;ふみだせる</h2>
      </div>
    </div>

    <div class="col-lg-6 m-0 p-5 color-area">
      <%= image_tag "home/home_top_img.svg", alt: "home-top-img", width: "1000px", class: "img-fluid", loading: "lazy" %>
    </div>
    <div class="col-lg-6 m-0 p-5">
      <h2>情報をエールに</h2>
      <p class="mt-5">みんなのレポコを参考にしよう。</p>
      <p>REPOCOは、不妊治療で妊娠出産に至った方の足跡を 治療レポート（=レポコ）として投稿〜検索できるサービスです。</p>
      <p>具体的な治療情報はもちろんのこと、心境の変化などの心の機微についても書き記すことで、その決断に至った経緯を立体的かつよりクリアに知る事ができます。ぜひクリニック選びや治療方針を検討する際にお役立て下さい。</p>
      <div class="text-center">
        <%= link_to "レポコ一覧", reports_path, class:"btn btn-info btn-raised" %>
      </div>
    </div>

    <div class="col-lg-6 m-0 p-5">
    </div>
    <div class="col-lg-6 m-0 p-5 color-area">
    </div>

    <div class="col-lg-6 m-0 p-5 color-area">
    </div>
    <div class="col-lg-6 m-0 p-5">
    </div>

    <div class="col-lg-6 m-0 p-5">
    </div>
    <div class="col-lg-6 m-0 p-5 color-area">
    </div>
  </div>
</div>