<div class="my-5 px-2 row">
  <div class="col-md-10 offset-md-1">
    <h2 class="mb-5">用語集</h2>
    <div class="box26">
      <div class="py-4 px-2 row" id="terminology-ka">
        <span class="box-title">か</span>
          <div class="col-lg-6" id="terminology-icsi">
            <h5 class="mb-3">【顕微授精】</h5>
            <p class="pl-3">精子と卵子を体外で受精させ、受精卵(胚)を子宮に戻すことで妊娠を目指す方法。受精は特殊な針を用いて精子を直接卵子に注入して受精を狙う</p>
          </div>
      </div>
    </div>
    <div class="box26">
      <div class="py-4 px-2 row" id="terminology-ta">
        <span class="box-title">た</span>
          <div class="col-lg-6" id="terminology-ivf">
            <h5 class="mb-3">【体外受精】</h5>
            <p class="pl-3">精子と卵子を体外で受精させ、受精卵(胚)を子宮に戻すことで妊娠を目指す方法。受精は狭い空間に卵子と精子を入れ受精を狙う（＝ふりかけ法）</p>
          </div>
      </div>
    </div>
  </div>
</div>