<div class="row">
  <div class="offset-lg-2 col-lg-8 terms-h">
    <div class="py-4 px-2">
      <i data-feather="chevron-left" class="feather-icon-style1" style="color:#56B5AB"></i><%= link_to '戻る', 'javascript:history.back()' %>
    </div>
    <div class="card mt-2 mb-3 mx-1 p-md-5 p-4 small">
      <%= render "terms" %>
    </div>
    <div class="py-5 px-3 text-right">
      <i data-feather="chevron-left" class="feather-icon-style1" style="color:#56B5AB"></i><%= link_to '戻る', 'javascript:history.back()' %>
    </div>
  </div>
</div>