<div class="container mt-3 category-header-list">
  <div class="p-0 text-center">
      <%= link_to search_path do %>
        <button type="button" class="btn text-muted rounded-pill">＼ <i data-feather="arrow-down" class="px-1 mb-1"></i>カテゴリからレポコを検索 <i data-feather="arrow-down" class="px-1 mb-1"></i>／</button>
      <% end %>
    <br>
    <%= render 'category_header_body' %>
  </div>
</div>