<div class="d-none d-md-block mb-4">
  広告枠
</div>

<div class="mb-4">
  <h3>最近のいいね</h3>
  <div class="card mb-2 side-ranking">
    <div class="card-body">
      <a href="/">
        <p >
          記事
        </p>
      </a>
    </div>
  </div>
</div>
