
<div class="sticky-area px-0 py-3">
  <% if false %>
  <form action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSdSe_vOEPPdpsZI0Wn5YuYUl7LTqaYeq8x_yBLGaOhiM4eiuQ/formResponse" target="_self" method="POST" class="text-right">
    <textarea class="feedback-textarea" rows="7" placeholder="REPOCOに関するご意見やご要望をお聞かせください。どんな些細なことでもウェルカムです！" name="entry.1597222762" required></textarea><br>
    <button type="submit" class="btn btn-outline-primary feedback-sidebar">意見を送る&nbsp;<i data-feather="send" class="feather-icon-style1"></i></button>
  </form>
  <% end %>
  <% if user_signed_in? %>
    <div class="sidebar_promote_item">
      <div class="sidebar_promote_card">
        <div class="sidebar_promote_card_header row">
          <div class="col-2 sidebar_promote_card_header_left">
            <i data-feather="settings" class="pl-1" style="color: #646262"></i>
          </div>
          <div class="col-10 sidebar_promote_card_header_right">
            <% if request.path.include?("reports") %>
              <p>簡単にできる治療歴＆プロフィール設定はお済みですか？</p>
            <% else %>
              <p>まずは治療歴＆プロフィール設定をしましょう。設定することでより詳しいレポコを発信することができます！</p>
            <% end %>
          </div>
        </div>
        <div class="sidebar_promote_card_body">
          <%= link_to edit_user_registration_path, { title: "治療歴を設定する", style: "text-decoration: none;" } do %>
            <button class="green_btn">設定する</button>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="sidebar_promote_item">
      <div class="sidebar_promote_card">
        <div class="sidebar_promote_card_header row">
          <div class="col-2 sidebar_promote_card_header_left">
            <i data-feather="heart" class="pl-1" style="color: #646262"></i>
          </div>
          <div class="col-10 sidebar_promote_card_header_right">
            <p>いつでも読み返せるよう、参考になるレポコをストックするにはユーザー登録が必要です。こちらから10秒ほどで登録できます <i data-feather="arrow-down" class="px-1" style="color: #646262"></i></p>
          </div>
        </div>
        <div class="sidebar_promote_card_body">
          <%= link_to new_user_registration_path, { title: "ユーザー登録をする", style: "text-decoration: none;" } do %>
            <button class="green_btn">新規登録</button>
            <button class="outline_green_btn mt-3">登録済みの方はこちら</button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>