<div class="sticky-area">
  <div class="ad-box px-0 py-3">
    <form action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSdSe_vOEPPdpsZI0Wn5YuYUl7LTqaYeq8x_yBLGaOhiM4eiuQ/formResponse" target="_self" method="POST" class="text-right">
      <textarea class="feedback-textarea" rows="7" placeholder="REPOCOに関するご意見やご要望をお聞かせください（どんな些細なことでもウェルカムです！）" name="entry.1597222762" required></textarea><br>
      <button type="submit" class="btn btn-outline-primary feedback-sidebar">フィードバックを送信&nbsp;<i data-feather="send" class="feather-icon-style1"></i></button>
    </form>
  </div>
  <div class="ranking-box ranking-box-1x2 my-3">
    <p class="text-center"></p>
  </div>
</div>