<div class="nested-fields well well-compact">
  <table class="table table-sm table-hover mb-0 special_inspections_table table_radius">
    <tr>
      <td class="hormon-label text-center align-middle px-0 small rounded-lg border-right" style="background: #ffffff;">検査名</td>
      <td class="hormon-label text-center small rounded-lg" style="background: #ffffff;">受診</td>
    </tr>
    <tr>
      <td scope="row" class="et-bt-column border-right"><%= f.select :name, SpecialInspection::HASH_SPECIAL_INSPECTION_NAME.invert, { prompt: "" }, { class: "form-control text-muted" } %></td>
      <td class="et-bt-hormone-column"><%= f.select :place, SpecialInspection::HASH_SPECIAL_INSPECTION_PLACE.invert, { prompt: "" }, { class: "form-control text-muted" } %></td>
    </tr>
  </table>
  <small class="float-right pr-2 mt-2">
    <%= link_to_remove_association "削除", f, class: "text-secondary" %>
  </small>
</div>