<div class="nested-fields well well-compact pt-4">
  <table class="table table-sm table-bordered table-hover mb-0">
    <thead>
      <tr>
        <th scope="col" class="hormon-label">周期</th>
        <th scope="col" class="hormon-label">Day&nbsp;<span class="small"><small class="text-danger">(必須)</small></span></th>
        <th scope="col" class="hormon-label">内容</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="et-bt-column"><%= f.select :cycle, Report::HASH_TREATMENT_SCHEDULE_CYCLE.invert, { prompt: "選択" }, { class: "form-control text-muted" } %></th>
        <td class="et-bt-hormone-column"><%= f.select :day, Report.make_select_treatment_schedule_day, { prompt: "必須" }, { class: "form-control text-muted" } %></td>
        <td class="et-bt-hormone-column"><%= f.select :exam_headline, Report::HASH_TREATMENT_SCHEDULE_EXAM_HEADLINE.invert, { prompt: "選択" }, { class: "form-control text-muted" } %></td>
      </tr>
    </tbody>
  </table>
  <small class="float-right pr-2">
    <%= link_to_remove_association "削除", f, class: "text-secondary" %>
  </small>
</div>