<% if false %>
  <div class="row show">
    <div class="col-md-8 offset-md-2 d-flex align-items-center">
      <h5>編集</h5>
      <div class="ml-auto posts_button">
        <% if @report.released? %>
          <%= link_to '非公開にする', nonrelease_report_path(@report), method: :patch, class:"btn btn-outline-primary" %>
        <% else %>
          <%= link_to '公開する', release_report_path(@report), method: :patch, class:"btn btn-outline-info" %>
        <% end %>
        <%= link_to '戻る', @report, class:"btn btn-outline-primary button" %>
      </div><br>
    </div>
  </div>
<% end %>

<%= render 'form', report: @report, is_new: false %><br>