<div class="container mt-5 px-5">
  <h2 class="mb-5">ヒント</h2>
  <div>
    <h5 class="mb-5">・不妊治療へ踏み切ったきっかけ・思い</h5>
    <p></p>
  </div>
  <div>
    <h5 class="mb-5">・不妊治療を始めて驚いたこと</h5>
    <p></p>
  </div>
  <div>
    <h5 class="mb-5">・治療中にもっとこうすれば良かったと思ったこと(ポイント)など</h5>
    <p></p>
  </div>
  <div>
    <h5 class="mb-5">・夫婦間での治療に対する温度や認識</h5>
    <p></p>
  </div>
  <div>
    <h5 class="mb-5">・仕事との両立</h5>
    <p></p>
  </div>
  <div>
    <h5 class="mb-5">・治療中気をつけたこと(お酒･食事･睡眠･サプリ他)</h5>
    <p></p>
  </div>
</div>