<div class="d-flex align-items-center">
  <h1>レポート作成</h1>
  <div class="ml-auto posts_button">
    <%= link_to "レポート一覧", reports_path, class:"btn btn-outline-info" %>
  </div>
</div>

<%= render 'form', report: @report %>

<%= link_to '戻る', @report, class:"btn btn-outline-info button" %>
<%= link_to 'ホーム', reports_path, class:"btn btn-outline-info button" %>