<div class="container signup-in m-bottom">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-md-5 mb-md-5">
        <div class="card text-center mt-4">
          <div class="pt-4">
            <h3 class="mb-0 text-dark font-weight-bold">Sign Up</h3>
          </div>
          <div class="card-body pt-0">
            <div class="pt-0">
              <p class="pt-5 mb-1 text-left">体外･顕微授精にて妊娠･出産された方で投稿して頂ける場合には、お手数おかけして恐縮ですが以下twitterへDM、または以下メールアドレスまでご連絡ください。</p>
              <p class="mb-3 text-left">登録URLをお送りさせていただきます&nbsp;↓</p>
              <div class="popup_area">
                <%= link_to "https://twitter.com/repoco_official", {class: "text-decoration-none w-100", target: :_blank, rel: "noopener noreferrer"} do %>
                  <button class="tw_blue_btn p-1"><%= image_tag"action/Twitter_Social_Icon_Rounded_Square_Color.svg", width: "35px", class: "img-fluid", loading: "lazy" %>REPOCO_OFFICIAL</button>
                <% end %>
              </div>
              <div class="popup_area mt-4">
                <center><button class="btn btn-outline-primary btn-raised w-100"><a href="mailto:repoco.net@gmail.com?subject=投稿希望">Eメールはこちらから</a>&nbsp;<i data-feather="send" class="feather-icon-style1"></i></button></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>