<div class="area_under_mobile_screen mx-0 pl-0 pr-1 my-0 py-0">
  <div class="float-left likes_buttons_<%= @report.id %>">
    <%= render partial: 'likes/like', locals: { report: @report} %>
  </div>

  <% report_title = strip_tags(@report.title.to_s).gsub(/[\n]/,"").strip.truncate(26) %>
  <% report_title_long = strip_tags(@report.title.to_s).gsub(/[\n]/,"").strip.truncate(50) %>
  <% user_name = strip_tags(@report.user.name.to_s).gsub(/[\n]/,"").strip.truncate(12) %>
  <% if @report.treatment_end_age.present? %>
    <% treatment_end_age = "(#{@report.str_treatment_end_age})" %>
    <% treatment_end_age2 = "#{@report.str_treatment_end_age}: " %>
  <% else %>
    <% treatment_end_age = "" %>
    <% treatment_end_age2 = "" %>
  <% end %>
  <% if @report.year_of_treatment_end.present? %>
    <% year_of_treatment_end = "(#{@report.year_of_treatment_end.year.to_s}年卒業)" %>
    <% year_of_treatment_end2 = "･･･#{@report.year_of_treatment_end.year.to_s}年卒業" %>
  <% else %>
    <% year_of_treatment_end = "" %>
    <% year_of_treatment_end2 = "" %>
  <% end %>
  <% author = " #{user_name}さんの" %>
  <% if @report.title.present? %>
    <% title = "#{report_title} | REPOCO" %>
    <% sns_text = "【#{treatment_end_age2}#{@report.clinic.name} (#{@report.clinic.prefecture.name})での#{author}レポコ#{year_of_treatment_end2}】 " + "#{report_title_long}" %>
  <% else %>
    <% title = "#{@report.clinic.name}のレポコ | REPOCO" %>
    <% sns_text = "【#{treatment_end_age2}#{@report.clinic.name} (#{@report.clinic.prefecture.name})での#{author}レポコ#{year_of_treatment_end2}】 " %>
  <% end %>

  <div class="twitter-circle">
    <div class="twitter-btn" title='Twitterでシェア！'>
      <%= link_to "https://twitter.com/share?text=#{sns_text}&hashtags=レポコ&hashtags=REPOCO&url=#{request.url}", title: 'Twitter', target: '_blank' do %>
        <%= images_action_svg("twitter_mobile.svg") %>
      <% end %>
    </div>
    <% set_meta_tags og: {image: "https://res.cloudinary.com/dt8ullid9/image/upload/l_text:Sawarabi%20Gothic_18:【#{@report.clinic.name} #{year_of_treatment_end}】#{@report.user.name}さん#{treatment_end_age}のレポコ,co_rgb:333,w_380,c_fit/v1579444928/ogp_476_298_brandcolor2_geir8n.png"} %>
      <% set_meta_tags twitter: {title: "#{title}", image: "https://res.cloudinary.com/dt8ullid9/image/upload/l_text:Sawarabi%20Gothic_18:【#{@report.clinic.name} #{year_of_treatment_end}】#{@report.user.name}さん#{treatment_end_age}のレポコ,co_rgb:333,w_380,c_fit/v1579444928/ogp_476_298_brandcolor2_geir8n.png"} %>
  </div>
</div>