<script>
  $(function() {
    setTimeout("$('.flash_message').fadeOut('slow')", 2000);
  });
</script>

<div class="flash_area">
  <div class="flash_bar">
    <% if alert %>
      <div class="flash_message alert alert-danger text-center">
        <%= alert %>
      </div>
    <% end %>
    <% if notice %>
      <div class="flash_message alert alert-success text-center">
        <%= notice %>
      </div>
    <% end %>
  </div>
</div>



